.youtube-modal-dialog {
    max-width: 65%;
    margin: 30px auto;
}

.youtube-modal-body {
    position: relative;
    padding: 0px;
}

.youtube-modal-close {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    opacity: 1;
}

.youtube-modal {
    overflow-y: auto;
}

.youtube-modal-open {
    overflow: auto;
}