{% extends "cinemaple_email_transactional.html" %}
{% load static %}



{% block message %}

<p> Hello  {{ firstname  }},</p>


<p> Your status for Movie Night location {{location}} has changed to Ambassador. This means you can invite new users to Movie Nights at {{location}} via a personalized invitation link. </p>


<p> Hit the button below to invite your friends. Keep in mind that you'll be responsible for checking you actually know users signed up with your invitation link. 
    To facilitate this, you'll recieve an email-notification every time a user signs up with your link.
     In the email, you'll be given the opportunity to immediately revoke the users's access in case you don't know the user. </p>



<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock" style="min-width:100%;">
        <tbody class="mcnButtonBlockOuter">
            <tr>
                <td style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;" valign="top" align="center" class="mcnButtonBlockInner">
                    <table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer" style="border-collapse: separate !important;border-radius: 4px;background-color: #0069D9;">
                        <tbody>
                            <tr>
                                <td align="center" valign="middle" class="mcnButtonContent" style="font-family: Arial; font-size: 16px; padding: 18px;">
                                    <a class="mcnButton " title="Add Movie Night" href="https://www.cinemaple.com/invite" target="_blank" style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">Invite Friends</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}