{% extends "cinemaple_email_transactional.html" %}
{% load static %}



{% block message %}

<p> Hello  {{ firstname  }},</p>


<p> Your status for Movie Night location {{location}} has changed to Host. This means you have full control over the Movie Nights and users privileges of {{location}}.</p>


<p> Use your new user privilege and add a new Movie Night now: </p>



<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock" style="min-width:100%;">
        <tbody class="mcnButtonBlockOuter">
            <tr>
                <td style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;" valign="top" align="center" class="mcnButtonBlockInner">
                    <table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer" style="border-collapse: separate !important;border-radius: 4px;background-color: #0069D9;">
                        <tbody>
                            <tr>
                                <td align="center" valign="middle" class="mcnButtonContent" style="font-family: Arial; font-size: 16px; padding: 18px;">
                                    <a class="mcnButton " title="Add Movie Night" href="https://www.cinemaple.com/add_movie_night" target="_blank" style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">Add Movie Night</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}