{% extends "cinemaple_email_transactional.html" %}
{% load static %}



{% block message %}

<p> Hello  {{ invitor.first_name  }},</p>


<p> The following user has signed using your Cinemaple invitation link: </p>
<p>Name:  {{ u.first_name }} {{u.last_name}} </p>
<p>Email: {{ u.email }} </p>

<p> If you know this person and are happy to invite them to Movie Nights at location {{ location }}, no action is required. If you are not not, please click on the following button:  </p>



<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock" style="min-width:100%;">
        <tbody class="mcnButtonBlockOuter">
            <tr>
                <td style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;" valign="top" align="center" class="mcnButtonBlockInner">
                    <table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer" style="border-collapse: separate !important;border-radius: 4px;background-color: rgba(217, 33, 0, 0.822);">
                        <tbody>
                            <tr>
                                <td align="center" valign="middle" class="mcnButtonContent" style="font-family: Arial; font-size: 16px; padding: 18px;">
                                    <a class="mcnButton " title="Revoke User Access" href="https://www.cinemaple.com/rev_acc/{{rev_access_hash}}" target="_blank" style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">Revoke User Access</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}