{% extends "cinemaple_email_transactional.html" %}
{% load static %}



{% block message %}
<b>
<p> Hello {{ firstname }},</p>
<p> <i class="em em-tada" aria-role="presentation" aria-label="PARTY POPPER"></i> Welcome to Cinemaple ! <i class="em em-movie_camera" aria-role="presentation" aria-label="MOVIE CAMERA"></i> </p></b>
<p> We are excited to have you on board! Cinemaple is a platform to facilitate the organization of Movie Nights and share good times with your friends. Here is some information on how to use Cinemaple: </p>

<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;">
    <tbody class="mcnDividerBlockOuter">
        <tr>
            <td class="mcnDividerBlockInner" style="min-width:100%; padding:18px;">
                <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top: 2px solid #EAEAEA;">
                    <tbody><tr>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </tbody></table>
<!--
                <td class="mcnDividerBlockInner" style="padding: 18px;">
                <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
-->
            </td>
        </tr>
    </tbody>
</table>



<h3>Attend Movie Nights in your area <i class="em em-world_map" aria-role="presentation" aria-label=""></i> </h3>          
    <p>With Cinemaple, you can attend Movie Nights organized by your friends. It's very simple:  </p>
    
    <ol>
    <li> Check out Current Movie Nights. You will recieve an invitation email once a new Movie Night is scheduled.<i class="em em-movie_camera" aria-role="presentation" aria-label="MOVIE CAMERA"></i> </li>
    <li> Register and vote for your favorite movie(s). <i class="em em-first_place_medal" aria-role="presentation" aria-label="FIRST PLACE MEDAL"></i> </li>              
    <li> Tell your Hosts which crêpe toppings you are bringing with you. <i class="em em-pancakes" aria-role="presentation" aria-label="PANCAKES"></i>  </li>              

</ol>
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock" style="min-width:100%;"> <tbody class="mcnButtonBlockOuter"> <tr> <td style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;" valign="top" align="center" class="mcnButtonBlockInner"> <table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer" style="border-collapse: separate !important;border-radius: 4px;background-color: #0069D9;"> <tbody> <tr> <td align="center" valign="middle" class="mcnButtonContent" style="font-family: Arial; font-size: 16px; padding: 18px;"> <a class="mcnButton " title="Current Movie Night" href= "https://cinemaple.com/curr_mov_nights" target="_blank" style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;"> Register for the Current Movie Night </a> </td> </tr> </tbody> </table> </td> </tr> </tbody> </table>


<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;">
    <tbody class="mcnDividerBlockOuter">
        <tr>
            <td class="mcnDividerBlockInner" style="min-width:100%; padding:18px;">
                <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top: 2px solid #EAEAEA;">
                    <tbody><tr>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </tbody></table>
<!--
                <td class="mcnDividerBlockInner" style="padding: 18px;">
                <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
-->
            </td>
        </tr>
    </tbody>
</table>


{% comment %}
<h3>Attend Movie Nights in your area <i class="em em-world_map" aria-role="presentation" aria-label=""></i> </h3>          
    <p>With Cinemaple, you can attend Movie Nights organized by your friends. It's very simple:  </p>          
    <p> <i class="em em-arrow_right" aria-role="presentation" aria-label="BLACK RIGHTWARDS ARROW"></i> <a href = "https://cinemaple.com/login/">Log into Cinemaple </a>and go to <a href = "https://cinemaple.com/curr_mov_nights">Current Movie Nights</a>. <i class="em em-movie_camera" aria-role="presentation" aria-label="MOVIE CAMERA"></i> </p>
    <p> <i class="em em-arrow_right" aria-role="presentation" aria-label="BLACK RIGHTWARDS ARROW"></i> Register and vote for your favorite movie(s). <i class="em em-first_place_medal" aria-role="presentation" aria-label="FIRST PLACE MEDAL"></i> </p>              
    <p> <i class="em em-arrow_right" aria-role="presentation" aria-label="BLACK RIGHTWARDS ARROW"></i> Tell your Hosts which crepe toppings/food you are bringing with you. <i class="em em-pancakes" aria-role="presentation" aria-label="PANCAKES"></i>  </p>              

<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock" style="min-width:100%;"> <tbody class="mcnButtonBlockOuter"> <tr> <td style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;" valign="top" align="center" class="mcnButtonBlockInner"> <table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer" style="border-collapse: separate !important;border-radius: 4px;background-color: #0069D9;"> <tbody> <tr> <td align="center" valign="middle" class="mcnButtonContent" style="font-family: Arial; font-size: 16px; padding: 18px;"> <a class="mcnButton " title="Current Movie Night" href= "https://cinemaple.com/curr_mov_nights" target="_blank" style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;"> Register for the Current Movie Night </a> </td> </tr> </tbody> </table> </td> </tr> </tbody> </table>
{% endcomment %}

{% comment %}

<h3>Become a Host or an Ambassador <i class="em em-star-struck" aria-role="presentation" aria-label="GRINNING FACE WITH STAR EYES"></i> </h3>          
    <p>With Cinemaple, you can even organize your own Movie Nights.  </p>          
    <ul>
    <li>  Become a Host and organize Movie Nights at your place. To become a Host for a location which is not registered yet, write us at <a href="mailto:contact@cinemaple.com?subject=Cinemaple Host registration"> contact@cinemaple.com </a></li>
 
    <li>  Once you have become a Host, you can create a new Movie Night by logging in and going to <a href = "https://cinemaple.com/add_movie_night">Admin Actions > Add Movie Night</a>. </li>              
    <li>  You can also become an Ambassador of a given Location. Just ask the Hosts to send you an activation key. </li>              
</ul>
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock" style="min-width:100%;"> <tbody class="mcnButtonBlockOuter"> <tr> <td style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;" valign="top" align="center" class="mcnButtonBlockInner"> <table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer" style="border-collapse: separate !important;border-radius: 4px;background-color: #0069D9;"> <tbody> <tr> <td align="center" valign="middle" class="mcnButtonContent" style="font-family: Arial; font-size: 16px; padding: 18px;"> <a class="mcnButton " title="Invite" href= "https://cinemaple.com/invite" target="_blank" style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;"> Invite your friends to Cinemaple. </a> </td> </tr> </tbody> </table> </td> </tr> </tbody> </table>
{% endcomment %}



<h3> Invite your friends to Cinemaple <i class="em em-family" aria-role="presentation" aria-label="FAMILY"></i> </h3>          
    <p> <i class="em em-arrow_right" aria-role="presentation" aria-label="BLACK RIGHTWARDS ARROW"></i> Movie Night Hosts can designate Ambassadors, who can invite their friends to Cinemaple, so they can attend Movie Nights at the Host's location. </p>          
    <p> <i class="em em-arrow_right" aria-role="presentation" aria-label="BLACK RIGHTWARDS ARROW"></i> Hosts and Ambassadors will be provided a unique invitation link, which can be used to invite new users to the Hosts's location. </p>

    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;">
        <tbody class="mcnDividerBlockOuter">
            <tr>
                <td class="mcnDividerBlockInner" style="min-width:100%; padding:18px;">
                    <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top: 2px solid #EAEAEA;">
                        <tbody><tr>
                            <td>
                                <span></span>
                            </td>
                        </tr>
                    </tbody></table>
    <!--
                    <td class="mcnDividerBlockInner" style="padding: 18px;">
                    <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
    -->
                </td>
            </tr>
        </tbody>
    </table>


<h3> Any more questions? </h3>          
    <p> We wrote a <a href = "https://cinemaple.com/FAQ">FAQ</a> section to help you navigate Cinemaple. Otherwise, feel free to shoot us an email at <a href="mailto:contact@cinemaple.com?subject=Cinemaple Host registration"> contact@cinemaple.com</a>. We will do our very best to answer promptly. </p>          

<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock" style="min-width:100%;"> <tbody class="mcnButtonBlockOuter"> <tr> <td style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;" valign="top" align="center" class="mcnButtonBlockInner"> <table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer" style="border-collapse: separate !important;border-radius: 4px;background-color: #0069D9;"> <tbody> <tr> <td align="center" valign="middle" class="mcnButtonContent" style="font-family: Arial; font-size: 16px; padding: 18px;"> <a class="mcnButton " title="FAQ" href= "https://cinemaple.com/faq" target="_blank" style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;"> Read the FAQ </a> </td> </tr> </tbody> </table> </td> </tr> </tbody> </table>

{% endblock %}