{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-61403405-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-61403405-2');
  </script>

  <meta charset="utf-8">
  <title>Cinemaple Movie Nights</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'userhandling/img/favicon.png' %}" rel="icon">
  <link   href="{% static 'userhandling/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">

  <!-- Material Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- Bootstrap CSS File -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Libraries CSS Files -->
  <link href="{% static 'userhandling/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'userhandling/lib/animate/animate.min.css' %}" rel="stylesheet">

    <!-- Google Font File  -->
  <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Can Knaut">

  <!-- Custom fonts for this template-->
  <link href="{% static 'userhandling/lib/dashboard/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  
  <!-- Main Stylesheet File -->
  <link  href="{% static 'userhandling/css/style.css' %}" rel="stylesheet">

  <!-- Emoji Stylesheet File -->
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">


   <!-- JavaScript Libraries -->
    <!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  <script src="{% static 'userhandling/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'userhandling/lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'userhandling/lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'userhandling/lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'userhandling/lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'userhandling/lib/superfish/superfish.min.js' %}"></script>

{% block css_imports %}
{% endblock %}

</head>

<body>

  <!--==========================
  Header
  ============================-->

{% block modals %}
{% endblock %}


{% block header %}
{% endblock %}

  <!--==========================
    Hero Section
  ============================-->
{% block hero %}
{% endblock %}

{% block main %}
{% endblock %}

{% block footer %}
{% comment %} <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
      </div>
      <div class="credits">



        <div class="social-links">
            <p style = "color:#ffffff"><b>Cinemaple</b> is fully open source (Apache License 2.0.) and available on GitHub:</p>
            <a href="https://github.com/cknaut/cinemaple" class="github"><img src="{% static 'userhandling/img/giticon.png' %}" alt="" title="" height="30" style = "margin-left:-3%"/></a>
        </div>
      </div>
    </div>
  </footer><!-- #footer --> {% endcomment %}
{% endblock %}

  <!-- Template Main Javascript File -->
  <script src="{% static 'userhandling/js/main.js' %}"></script>

{% block js %}
{% endblock %}




</body>
</html>
