{% extends "cinemaple_email_base.html" %}
{% load static %}


{% block body %}

<div class="row4 d-flex justify-content-center">
    <div class="col-md-10 col-xl-10">
{% block message %}

{% endblock %}
    </div>
</div>



<p>Cheers, </p>
<p>The Cinemaple Team </p>

{% endblock %}



{% block footer %}

<em>Copyright ©  {% now "Y" %} Cinemaple, All rights reserved.</em>
<br>
<br>
<strong>Our mailing address is:</strong><br>
<div class=3D"vcard"><span class=3D"org fn">Cinemaple</span><div class=3D"=
adr"><div class=3D"street-address">57 Maple Ave</div><span class=3D"locality">Cambridge</span> <span class=3D"region">MA</span>  <span class=3D"p=
ostal-code">02139-1125</span>
{% endblock %}