{% extends 'base.html' %}
{% load static %}

{% block modals %}
<div id="logoutmodal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header"><h4>Logout <i class="fa fa-lock"></i></h4></div>
      <div class="modal-body"><i class="fa fa-question-circle"></i> Are you sure you want to log-off?</div>
      <div class="modal-footer"><a href={% url 'logout' %} class="btn-get-started">Logout</a></div>
    </div>
  </div>
</div>
{% endblock %}




{% block header %}
  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- <a href="#hero"><img   src="{% static 'userhandling/img/logos/logo_cinemaple.png' %}" alt="" title="" width="10%" /></img></a> -->
        <!-- Uncomment below if you prefer to use a text logo -->
        <h1><a href="#hero">Cinemaple</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href={% url 'welcome' %}>Current movie nights</a></li>
           <li class="menu"><a href="#">Past movie nights</a></li>
          <li><a class="menu" href={% url 'search_movie' %}>Search Movies</a></li>
           {% if user.is_staff %}
          <li><a  class="menu" href={% url 'add_movie_night' %}>Add Movie Night</a></li>
          {% endif %}
        {% if user.is_authenticated %}
        <li>  <a class="menu" href="" data-toggle="modal" data-target="#logoutmodal" style="font-weight:bold; color:yellow" class="btn-get-started">Logout</a> </li>
        <li> Welcome, {{request.user.first_name}}! </li>
        {% else %}
        <li>  <a class="menu" href="{% url 'login' %}" style="font-weight:bold; color:yellow" class="btn-get-started">Login</a> </li>
      {% endif %}
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
{% endblock %}


{% block hero %}

{% endblock %}


{% block main %}

{% endblock %}


{% block footer %}
  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>
      <div class="container">
      <a href="https://www.iubenda.com/privacy-policy/51526038" class="iubenda-white iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
           </div>
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Regna</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->
{% endblock %}

{% block js %}
{% endblock %}


