{% extends 'base.html' %}
{% load static %}


{% block css_imports %}
{% endblock %}

{% block modals %}
<div id="logoutmodal" class="modal bs-example-modal-sm fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="container">
    <div class="col-sm">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header" style = "margin:auto" style = "color:#af353b"><h4>Logout <i class="fa fa-lock"></i></h4></div>
            <div class="modal-body"><i class="fa fa-question-circle"></i> Are you sure you want to log out?</div>
            <div class="modal-footer"> 
              <a class="btn-get-started" data-dismiss="modal" style = "margin:auto"><font color = #af353b>Close</font></a> 
              <a href={% url 'logout' %} class="btn-get-started" style = "margin:auto"><font color = #af353b>Logout</font></a>
            </div>            
          </div>
        </div>
      </div>
    </div>
</div>

  {% block moremodals %}


  {% endblock %}

{% endblock %}




{% block header %}
<!--==========================
Header
============================-->
<header id="header-login">
  <div class="container">
    </div>
</header><!-- #header -->

<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1><a href="#hero">Cinemaple</a></h1> -->
      <a href={% url 'index'%}><img   src="{% static 'userhandling/img/logos/logo_cinemaple.png' %}" alt="" title="" height="40" /></img></a>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        {% if navbar == "faq"%}
          <li class="menu-active" ><a href={% url 'faq' %}>FAQ</a></li>
          {% else %}
          <li class="menu" ><a href={% url 'faq' %}>FAQ</a></li>
        {% endif %}        
        {% if navbar == "curr_mov_night"%}
          <li class="menu-active" ><a href={% url 'curr_mov_nights' %}>Current Movie Night</a></li>
          {% else %}
          <li class="menu" ><a href={% url 'curr_mov_nights' %}>Current Movie Night</a></li>
        {% endif %}
        {% if navbar == "past_mov_nights"%}
          <li class="menu-active" ><a href={% url 'past_mov_nights' %}>Past Movie Nights</a></li>
          {% else %}
          <li class="menu" ><a href={% url 'past_mov_nights' %}>Past Movie Nights</a></li>
        {% endif %}                

        {% if request.user.is_staff %}
          {% if navbar == "admin"%}  
          <li class="menu-has-children menu-active"><a href="">Admin Actions</a>
          {% else %}
          <li class="menu-has-children"><a href="">Admin Actions</a>
          {% endif %}
          <ul>
            <li><a href={% url 'add_movie_night' %}>Add Movie Night</a></li>
            <li><a href={% url 'man_mov_nights' %}>Manage Movie Nights</a></li>
            <li><a href={% url 'loc_users' %}>Manage Users</a></li>
            <li><a href={% url 'ml_health' %}>Mailing List Healths</a></li>
          </ul>

        {% endif %}

      {% if user.is_authenticated %}
            {% if navbar == "user" %}
            <li class="menu-has-children menu-active"><a href="">User Setting</a>
            {% else %}
            <li class="menu-has-children"><a href="">User Setting</a>
            {% endif %}

            <ul>
              <li><a href={% url 'change_profile' %} >User Info</a></li>
              <li><a href={% url 'change_password' %}>Change Password</a></li>
            </ul>
        <li>  <a href={% url 'logout'%} data-toggle="modal" data-target="#logoutmodal" style="font-weight:bold; color:#af353b" class="btn-get-started"  >Logout</a> </li>        
      {% else %}
      <li>  <a href="{% url 'login' %}" style="font-weight:bold; color:#af353b" class="btn-get-started">Login</a> </li>
    {% endif %}
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->
{% endblock %}


{% block main %}

{% endblock %}




{% block js %}

{% endblock %}



{% block footer %}
<footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
      </div>
      <div class="credits">



        <div class="social-links">
            <p style = "color:#ffffff"><b>Cinemaple</b> is fully open source (Apache License 2.0.) and available on GitHub: <a href="https://github.com/cknaut/cinemaple" class="github"><img src="{% static 'userhandling/img/giticon.png' %}" alt="" title="" height="30" style = "margin-left:0%"/></a></p>
            <p style = "color:#ffffff"><b>Cinemaple</b> is powered by <a href = "https://www.themoviedb.org/?language=en-US" target="_blank" style = "color:#af353b">TMDB</a> and <a href = "https://bootstrapmade.com/regna-bootstrap-onepage-template/" target = "_blank" style = "color:#af353b">REGNA</a></p>
            <a href="{% url 'priv_pol' %}" target="_blank" style = "color:#af353b">Privacy Policy</a>
        </div>        

      </div>
    </div>
  </footer><!-- #footer -->
{% endblock %}
