<div class="film">
                <div class="posterContainer" style="position:relative;">
                    <img ng-src="https://image.tmdb.org/t/p/w342/d4KNaTrltq6bpkFS01pYtyXa09m.jpg" onerror="addBlankPosterClass(this)" err-src="img/blankposter.png" ng-click="openTrailer(film)" class="poster" src="https://image.tmdb.org/t/p/w342/d4KNaTrltq6bpkFS01pYtyXa09m.jpg">

                    <button class="btn btn-default trailerButton" ng-click="openTrailer(film)" style="width:100%;margin-top: 2px;height:40px;">Watch Trailer</button>

                    <div class="film-section availableOn filmInfoContainerMobile">
                        <!-- ngIf: ::(film.onNetflix == true) --><a ng-if="::(film.onNetflix == true)" href="https://www.netflix.com/title/60011152" target="_blank" style="text-align:center;width:100%;float:left;background-color:#D20000;clear:both;" class="ng-scope">Netflix</a><!-- end ngIf: ::(film.onNetflix == true) -->
                        <!-- ngIf: ::(film.primeASIN != undefined && film.primeASIN != 'NA') -->
                        <!-- ngIf: ::(film.onDVD == true) --><a ng-if="::(film.onDVD == true)" ng-click="openLink(getAmazonLink(film, 'i'))" title="Watch on Amazon Video" target="_blank" style="text-align:center;width:100%;background-color:green;font-size:14px;margin-top:5px;clear:both;line-height:20px;" class="ng-scope">Amazon Video</a><!-- end ngIf: ::(film.onDVD == true) -->
                        <!-- ngIf: ::(film.onDVD == true) --><a ng-if="::(film.onDVD == true)" ng-click="openLink(getAmazonLink(film, 'b'))" target="_blank" style="text-align:center;width:100%;background-color: #007bb6;margin-top:5px;margin-bottom:5px;clear:both;" class="ng-scope">Blu-ray</a><!-- end ngIf: ::(film.onDVD == true) -->
                    </div>

                    <!--<div style="padding-top:10px;padding-bottom:10px;margin-left:5px;"  titles="['', '', '', '', '']" ng-show="loggedIn && film.UserSeen == true  && !isMobile" >-->
                        <!--<uib-rating style="font-size:25px;" class="rating" ng-model="film.UserRating" ng-click="updateRating(film)" class="rating"></uib-rating>-->
                    <!--</div>-->
                </div>

                <div class="filmInfoContainer">

                    <div class="title ng-binding">The Godfather</div>
                    <div class="film-section ng-binding">(1972)</div>
                    <div class="film-section genre ng-binding">Crime, Drama</div>
                    <div class="film-content">
                        <div style="padding-top:5px;" class="ng-binding">The aging patriarch of an organized crime dynasty transfers control of his clandestine empire to his reluctant son.</div>
                        <div class="line-separator"></div>
                        <!--<div style="padding-top:5px;">{{film.RTConsensus == 'No consensus yet.' ? '' : film.RTConsensus}}</div>-->
                    </div>

                    <div style="padding-top:5px;overflow:auto;">
                        <span style="float:left;" class="ng-binding">Director:&nbsp;</span>
                        <!-- ngRepeat: director in ::film.Director.split(', ') --><div ng-repeat="director in ::film.Director.split(', ')" style="float:left;" class="ng-scope">
                            <a ng-click="searchFilmsByDirector(director)" class="ng-binding">Francis Ford Coppola</a><span ng-show="::(film.Director.split(', ').length > 1 &amp;&amp; $index + 1 != film.Director.split(', ').length)" class="ng-hide">,&nbsp;</span>
                        </div><!-- end ngRepeat: director in ::film.Director.split(', ') -->
                    </div>

                    <div class="cast" style="padding-top:3px;overflow:auto;">
                        <span style="float:left;">Cast:&nbsp;</span>
                        <!-- ngRepeat: actor in ::film.Cast.split(', ') --><div ng-repeat="actor in ::film.Cast.split(', ')" style="float:left;" class="ng-scope">
                            <a ng-click="searchFilmsByCast(actor)" class="ng-binding">Marlon Brando</a><span ng-show="::(film.Cast.split(', ').length > 1 &amp;&amp; $index + 1 != film.Cast.split(', ').length)">,&nbsp;</span>
                        </div><!-- end ngRepeat: actor in ::film.Cast.split(', ') --><div ng-repeat="actor in ::film.Cast.split(', ')" style="float:left;" class="ng-scope">
                            <a ng-click="searchFilmsByCast(actor)" class="ng-binding">Al Pacino</a><span ng-show="::(film.Cast.split(', ').length > 1 &amp;&amp; $index + 1 != film.Cast.split(', ').length)">,&nbsp;</span>
                        </div><!-- end ngRepeat: actor in ::film.Cast.split(', ') --><div ng-repeat="actor in ::film.Cast.split(', ')" style="float:left;" class="ng-scope">
                            <a ng-click="searchFilmsByCast(actor)" class="ng-binding">James Caan</a><span ng-show="::(film.Cast.split(', ').length > 1 &amp;&amp; $index + 1 != film.Cast.split(', ').length)">,&nbsp;</span>
                        </div><!-- end ngRepeat: actor in ::film.Cast.split(', ') --><div ng-repeat="actor in ::film.Cast.split(', ')" style="float:left;" class="ng-scope">
                            <a ng-click="searchFilmsByCast(actor)" class="ng-binding">Richard S. Castellano</a><span ng-show="::(film.Cast.split(', ').length > 1 &amp;&amp; $index + 1 != film.Cast.split(', ').length)" class="ng-hide">,&nbsp;</span>
                        </div><!-- end ngRepeat: actor in ::film.Cast.split(', ') -->
                    </div>

                    <div class="film-section availableOn" style="overflow:auto;">
                        <!-- ngIf: ::(film.onNetflix == true) --><a ng-if="::(film.onNetflix == true)" href="https://www.netflix.com/title/60011152" target="_blank" tooltip-placement="right" style="background-color:#D20000;margin-right:10px;" class="ng-scope">Netflix</a><!-- end ngIf: ::(film.onNetflix == true) -->
                        <!-- ngIf: ::(film.primeASIN != undefined && film.primeASIN != 'NA') -->
                        <!-- ngIf: ::(film.onDVD == true) --><a ng-if="::(film.onDVD == true)" ng-click="openLink(getAmazonLink(film, 'i'))" title="Watch on Amazon Video" target="_blank" style="background-color:green;margin-right:10px;" class="ng-scope">Amazon Video</a><!-- end ngIf: ::(film.onDVD == true) -->
                        <!-- ngIf: ::(film.onDVD == true) --><a ng-if="::(film.onDVD == true)" ng-click="openLink(getAmazonLink(film, 'b'))" target="_blank" style="background-color: #007bb6" class="ng-scope">Blu-ray</a><!-- end ngIf: ::(film.onDVD == true) -->
                    </div>

                    <div class="film-section" style="overflow:auto;float:left;clear:both;" ng-mouseover="film.hoverShare = true" ng-show="::(!isMobile)" ng-mouseleave="film.hoverShare = false">

                        <span class="icon ion-link" style="font-size:25px;float:left;"></span>
                        <span style="float:left;margin-top:7px;margin-left:5px;" ng-hide="film.hoverShare || film.shareFocus">Share</span>
                        <input type="text" onclick="select()" ng-focus="film.shareFocus = true" ng-blur="film.shareFocus = false" style="font-size:15px;width:250px;margin-top:6px;margin-left:6px;border:none;float:left;" value="http://flickmetrix.com/share?id=68646" ng-show="film.hoverShare || film.shareFocus" readonly="" spellcheck="false" class="ng-hide">
                        <a href="http://twitter.com/intent/tweet?text=The%20Godfather%20on%20Flickmetrix%3A%20http%3A%2F%2Fflickmetrix.com%2F%23%2F%3Fid%3D68646" style="float:left;margin-top:5px;margin-left:7px;" ng-show="film.hoverShare || film.shareFocus" title="Tweet a link" class="ng-hide"><span class="icon ion-social-twitter" style="font-size:18px;"></span></a>

                    </div>
                </div>

                <div class="ratingContainer">

                    <div class="megascore ng-binding" tooltip-enable="!isMobile" tooltip-placement="right" uib-tooltip="Average Rating" tooltip-class="customTooltip combinedScoreTooltip" style="position:relative;margin-bottom:14px;margin-top:3px;margin-left:auto;margin-right:auto;width:65px;height:65px;font-size:32px;line-height:65px;color:white;border-radius:100px;text-align:center;">
                        92
                    </div>

                    <!--<div class="film-section" style="overflow:auto;margin-top:17px;">-->
                        <!--<a href="{{film.RTUrl == null ? 'https://www.rottentomatoes.com/search/?search=' + film.Title : film.RTUrl}}" target="_blank" style="width:100%;" uib-tooltip="{{::film.RTCriticReviews}} Reviews" tooltip-enable ="!isMobile" tooltip-placement="left" tooltip-class="customTooltip ratingTooltip">-->
                            <!--&lt;!&ndash;<div class="arrow-up"></div>&ndash;&gt;-->
                            <!--<div class="rating-bar-container">-->
                                <!--<div class="rating-bar-meat" ng-style="{width: film.RTCriticMeter + '%'}">Tomatometer</div>-->
                                <!--<div class="rating-bar-score">{{::film.RTCriticMeter}}</div>-->
                            <!--</div>-->
                        <!--</a>-->
                        <!--&lt;!&ndash;<span ng-if ="isMobile" class="progress-count" >from {{::film.RTCriticReviews}} reviews</span>&ndash;&gt;-->
                    <!--</div>-->

                    <!--<div class="film-section" style="overflow:auto;margin-top:20px;">-->
                        <!--<a href="{{film.RTUrl == null ? 'https://www.rottentomatoes.com/search/?search=' + film.Title : film.RTUrl}}" target="_blank" style="width:100%;" uib-tooltip="{{::film.RTUserReviews}} Ratings" tooltip-enable ="!isMobile" tooltip-placement="left"  tooltip-class="customTooltip ratingTooltip">-->

                            <!--<div class="rating-bar-container">-->
                                <!--<div class="rating-bar-meat" ng-style="{width: film.RTUserMeter + '%'}">Audience <span ng-if="!hideRatingText">Rating</span></div>-->
                                <!--<div class="rating-bar-score">{{::film.RTUserMeter}}</div>-->
                            <!--</div>-->
                        <!--</a>-->
                        <!--&lt;!&ndash;<span ng-if ="isMobile" class="progress-count">from {{film.RTUserReviews}} ratings</span>&ndash;&gt;-->
                    <!--</div>-->

                    <div class="film-section" style="overflow:auto;margin-top:20px;" ng-show="::film.Metacritic != null">
                        <a href="#" style="width:100%;cursor:inherit;">

                            <div class="rating-bar-container">
                                <div class="rating-bar-meat" ng-style="{width: film.Metacritic + '%'}" style="width: 100%;">Critic</div>
                                <div class="rating-bar-score ng-binding">100</div>
                            </div>
                        </a>
                    </div>

                    <div class="film-section" style="overflow:auto;margin-top:20px;" ng-show="::film.RTUserRating != null">
                        <a style="width:100%;" uib-tooltip="9561 Ratings" tooltip-enable="!isMobile" tooltip-placement="left" tooltip-class="customTooltip ratingTooltip">

                            <div class="rating-bar-container">
                                <div class="rating-bar-meat" ng-style="{width: (film.RTUserRating) + '%'}" style="width: 86%;">Audience</div>
                                <div class="rating-bar-score ng-binding">86</div>
                            </div>
                        </a>
                        <!--<span ng-if ="isMobile" class="progress-count">from {{::film.imdbVotes}} ratings</span>-->
                    </div>

                    <div class="film-section" style="overflow:auto;margin-top:20px;">
                        <a href="https://www.imdb.com/title/tt0068646" style="width:100%;" target="_blank" uib-tooltip="1427248 Ratings" tooltip-enable="!isMobile" tooltip-placement="left" tooltip-class="customTooltip ratingTooltip">

                            <div class="rating-bar-container">
                                <div class="rating-bar-meat" ng-style="{width: (film.imdbRating * 10) + '%'}" style="width: 92%;">IMDb</div>
                                <div class="rating-bar-score ng-binding">92</div>
                            </div>
                        </a>
                        <!--<span ng-if ="isMobile" class="progress-count">from {{::film.imdbVotes}} ratings</span>-->
                    </div>

                    <div class="film-section" style="overflow:auto;margin-top:20px;" ng-show="::(film.LetterboxdScore != null)">
                        <a href="#" style="width:100%;cursor:inherit;" uib-tooltip="141551 Ratings" tooltip-enable="!isMobile" tooltip-placement="left" tooltip-class="customTooltip ratingTooltip">

                            <div class="rating-bar-container">
                                <div class="rating-bar-meat" ng-style="{width: (film.LetterboxdScore) + '%'}" style="width: 91%;">Letterboxd</div>
                                <div class="rating-bar-score ng-binding">91</div>
                            </div>
                        </a>
                        <!--<span ng-if ="isMobile" class="progress-count">from {{::film.letterboxdVotes}} ratings</span>-->
                    </div>



                    <div ng-show="loggedIn &amp;&amp; film.UserSeen == true" style="padding-bottom:10px;overflow: hidden;width:100%;text-align:center;clear:both;margin-top:10px;" class="ng-hide">
                        <span ng-mouseleave="reset()" ng-keydown="onKeydown($event)" tabindex="0" role="slider" aria-valuemin="0" aria-valuemax="5" aria-valuenow="" titles="['', '', '', '', '']" class="rating ng-isolate-scope ng-valid" ng-model="film.UserRating" ng-click="updateRating(film)">
    <!-- ngRepeat: r in range track by $index --><span ng-repeat-start="r in range track by $index" class="sr-only ng-binding ng-scope">( )</span>
    <i ng-repeat-end="" ng-mouseenter="enter($index + 1)" ng-click="rate($index + 1)" class="glyphicon ng-scope glyphicon-star-empty" ng-class="$index < value &amp;&amp; (r.stateOn || 'glyphicon-star') || (r.stateOff || 'glyphicon-star-empty')" ng-attr-title="{{r.title}}" aria-valuetext="" title=""></i><!-- end ngRepeat: r in range track by $index --><span ng-repeat-start="r in range track by $index" class="sr-only ng-binding ng-scope">( )</span>
    <i ng-repeat-end="" ng-mouseenter="enter($index + 1)" ng-click="rate($index + 1)" class="glyphicon ng-scope glyphicon-star-empty" ng-class="$index < value &amp;&amp; (r.stateOn || 'glyphicon-star') || (r.stateOff || 'glyphicon-star-empty')" ng-attr-title="{{r.title}}" aria-valuetext="" title=""></i><!-- end ngRepeat: r in range track by $index --><span ng-repeat-start="r in range track by $index" class="sr-only ng-binding ng-scope">( )</span>
    <i ng-repeat-end="" ng-mouseenter="enter($index + 1)" ng-click="rate($index + 1)" class="glyphicon ng-scope glyphicon-star-empty" ng-class="$index < value &amp;&amp; (r.stateOn || 'glyphicon-star') || (r.stateOff || 'glyphicon-star-empty')" ng-attr-title="{{r.title}}" aria-valuetext="" title=""></i><!-- end ngRepeat: r in range track by $index --><span ng-repeat-start="r in range track by $index" class="sr-only ng-binding ng-scope">( )</span>
    <i ng-repeat-end="" ng-mouseenter="enter($index + 1)" ng-click="rate($index + 1)" class="glyphicon ng-scope glyphicon-star-empty" ng-class="$index < value &amp;&amp; (r.stateOn || 'glyphicon-star') || (r.stateOff || 'glyphicon-star-empty')" ng-attr-title="{{r.title}}" aria-valuetext="" title=""></i><!-- end ngRepeat: r in range track by $index --><span ng-repeat-start="r in range track by $index" class="sr-only ng-binding ng-scope">( )</span>
    <i ng-repeat-end="" ng-mouseenter="enter($index + 1)" ng-click="rate($index + 1)" class="glyphicon ng-scope glyphicon-star-empty" ng-class="$index < value &amp;&amp; (r.stateOn || 'glyphicon-star') || (r.stateOff || 'glyphicon-star-empty')" ng-attr-title="{{r.title}}" aria-valuetext="" title=""></i><!-- end ngRepeat: r in range track by $index -->
</span>
                    </div>

                    <!--<button ng-click="openUserActionModal(film)" class="btn btn-default" style="width: 100%;margin-top: 10px;">Add To List</button>-->

                </div>

                <div class="filmInfoContainerMobile">

                    <div class="title ng-binding" style="font-weight: bold;font-size: 16px;">The Godfather</div>
                    <div class="film-section ng-binding">Crime, Drama</div>
                    <div class="film-section ng-binding">1972</div>
                    <div class="film-content ">
                        <div style="padding-top:5px;" class="ng-binding">The aging patriarch of an organized crime dynasty transfers control of his clandestine empire to his reluctant son.</div>
                        <div class="line-separator"></div>
                        <!--<div style="padding-top:5px;">{{film.RTConsensus == 'No consensus yet.' ? '' : film.RTConsensus}}</div>-->
                    </div>

                    <div style="padding-top:5px;overflow:auto;">
                        <span style="float:left;" class="ng-binding">Director:&nbsp;</span>
                        <!-- ngRepeat: director in ::film.Director.split(', ') --><div ng-repeat="director in ::film.Director.split(', ')" style="float:left;" class="ng-scope">
                            <a ng-click="::searchFilmsByDirector(director)" class="ng-binding">Francis Ford Coppola</a><span ng-show="::(film.Director.split(', ').length > 1 &amp;&amp; $index + 1 != film.Director.split(', ').length)" class="ng-hide">,&nbsp;</span>
                        </div><!-- end ngRepeat: director in ::film.Director.split(', ') -->
                    </div>

                    <div class="cast" style="padding-top:3px;overflow:auto;font-size:14px;">
                        <span style="float:left;">Cast:&nbsp;</span>
                        <!-- ngRepeat: actor in ::film.Cast.split(', ') --><div ng-repeat="actor in ::film.Cast.split(', ')" style="float:left;" class="ng-scope">
                            <a ng-click="::searchFilmsByCast(actor)" class="ng-binding">Marlon Brando</a><span ng-show="::(film.Cast.split(', ').length > 1 &amp;&amp; $index + 1 != film.Cast.split(', ').length)">,&nbsp;</span>
                        </div><!-- end ngRepeat: actor in ::film.Cast.split(', ') --><div ng-repeat="actor in ::film.Cast.split(', ')" style="float:left;" class="ng-scope">
                            <a ng-click="::searchFilmsByCast(actor)" class="ng-binding">Al Pacino</a><span ng-show="::(film.Cast.split(', ').length > 1 &amp;&amp; $index + 1 != film.Cast.split(', ').length)">,&nbsp;</span>
                        </div><!-- end ngRepeat: actor in ::film.Cast.split(', ') --><div ng-repeat="actor in ::film.Cast.split(', ')" style="float:left;" class="ng-scope">
                            <a ng-click="::searchFilmsByCast(actor)" class="ng-binding">James Caan</a><span ng-show="::(film.Cast.split(', ').length > 1 &amp;&amp; $index + 1 != film.Cast.split(', ').length)">,&nbsp;</span>
                        </div><!-- end ngRepeat: actor in ::film.Cast.split(', ') --><div ng-repeat="actor in ::film.Cast.split(', ')" style="float:left;" class="ng-scope">
                            <a ng-click="::searchFilmsByCast(actor)" class="ng-binding">Richard S. Castellano</a><span ng-show="::(film.Cast.split(', ').length > 1 &amp;&amp; $index + 1 != film.Cast.split(', ').length)" class="ng-hide">,&nbsp;</span>
                        </div><!-- end ngRepeat: actor in ::film.Cast.split(', ') -->
                    </div>

                </div>

                <!-- ngIf: !ipg && (!isMobile || (isMobile && loggedIn)) --><div ng-if="!ipg &amp;&amp; (!isMobile || (isMobile &amp;&amp; loggedIn))" style="display:block;overflow:auto;text-align:center;margin-top:-6px;" class="ng-scope">
                    <div style="margin-left:0px;" class="botton watch" ng-class="{'selected-botton': film.UserWantsToWatch}" tooltip-enable="!isMobile" tooltip-placement="right" uib-tooltip="Watchlist " tooltip-class="customTooltip" ng-click="updateWatch(film, true)"><span class="icon ion-eye"></span></div>
                    <div class="botton seen" ng-class="{'selected-botton': film.UserSeen}" tooltip-enable="!isMobile" tooltip-placement="right" uib-tooltip="Seen" tooltip-class="customTooltip" ng-click="updateSeen(film, true)"><span class="icon ion-android-checkmark-circle"></span></div>
                    <div class="botton favourite" ng-class="{'selected-botton': film.UserFavourite}" tooltip-enable="!isMobile" tooltip-placement="right" uib-tooltip="Favourite" tooltip-class="customTooltip" ng-click="updateFavourite(film, true)"><span class="icon ion-heart"></span></div>
                    <div class="botton ignore" ng-class="{'selected-botton': film.UserWantsToWatch == false}" tooltip-enable="!isMobile" tooltip-placement="right" uib-tooltip="Trash" tooltip-class="customTooltip" title="Trash" ng-click="updateWatch(film, false)"><span class="icon ion-trash-b"></span></div>
                </div><!-- end ngIf: !ipg && (!isMobile || (isMobile && loggedIn)) -->

                <!--<div ng-if='!ipg && isMobile && loggedIn && film.UserSeen == true ' class="mobileRating" style="display:block;overflow: auto;text-align:center;">-->
                    <!--<uib-rating class="rating" ng-model="film.UserRating" ng-click="updateRating(film)" class="rating"></uib-rating>-->
                <!--</div>-->



            </div>