{% extends 'base.html' %}
{% load static %}


{% block css_imports %}
<!-- Material Icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- Success Modal Stylesheet File -->
<link  href="{% static 'userhandling/css/successmodal.css' %}" rel="stylesheet">

<!-- Login Form Stylesheet File -->
<link  href="{% static 'userhandling/css/loginform.css' %}" rel="stylesheet">
{% endblock %}

<body>

{% block header %}

<section id="hero">
        <div class="hero-container">          
          <div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src={% static 'userhandling/img/logos/logo_cinemaple.png' %} alt="" width = 100%/>
                        {% block tagline %}
                        {% endblock %}
                    </div>
                    <div class="col-md-9 register-right">      
                        <div class="tab-content" id="myTabContent">                                
                                {% block heading %}
                                {% endblock %}
                                <div class="row register-form">                                    
                                    <div class="col-md-9">
                                    {% block form %}
                                    {% endblock %}
                                </div>
                        </div>
                    </div>
                </div>

            </div>        
        </div>
      </section><!-- #hero -->

{% endblock %}
