{% extends 'base.html' %}
{% load static %}


{% block css_imports %}
<link  href="{% static 'userhandling/css/val_succ_modal.css' %}" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>


      <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">


  <link href="{% static 'userhandling/lib/mdb/css/mdb.lite.min.css' %}" rel="stylesheet">


{% endblock %}

{% block modals %}
{% if successful_verified %}
<div id="RegVerifyModall" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box">
          <i class="material-icons">&#xE876;</i>
        </div>
        <h4 class="modal-title">Validation Successful!</h4>
      </div>
      <div class="modal-body">
        <p class="text-center">You have sucessfully validated <b>{{email}}</b> and may now log in using your username <b>{{username}}</b>.</p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'login' %}" class="btn btn-success btn-block">Login</a>
      </div>
    </div>
  </div>
</div>


{% endif %}

<div id="logoutmodal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header"><h4>Logout <i class="fa fa-lock"></i></h4></div>
      <div class="modal-body"><i class="fa fa-question-circle"></i> Are you sure you want to log-off?</div>
      <div class="modal-footer"><a href={% url 'logout' %} class="btn-get-started">Logout</a></div>
    </div>
  </div>
</div>

<!-- Central Modal Small -->
<div class="modal fade" id="movieModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-lg" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="movieModalTitle">Modal title</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="container">
          <!--Grid row-->
          <div class="row">

            <div class="col-lg-4" id="movieModalPoster"></div>

            <div class="col-lg-8">
            <!--Grid column-->
              <div class="row">
                <div class="col-lg-2">
                  <p class="font-weight-bold">Year:</p>
                </div>

            <!--Grid column-->

              <!--Grid column-->
                <div class="col-lg-10">
                  <p id="movieModalYear"> </p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-2">
                  <p class="font-weight-bold">Country:</p>
                </div>

                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-10">
                  <p id="movieModalCountry"> </p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-2">
                  <p class="font-weight-bold">Director:</p>
                </div>

                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-10">
                  <p id="movieModalDirector"> </p>
                </div>
              </div>


              <div class="row">
                <div class="col-lg-2">
                  <p class="font-weight-bold">Actors:</p>
                </div>

                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-10">
                  <p id="movieModalActors"> </p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-2">
                  <p class="font-weight-bold">Runtime:</p>
                </div>

                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-10">
                  <p id="movieModalRuntime"> </p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-2">
                  <p class="font-weight-bold">Plot:</p>
                </div>

                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-10">
                  <p id="movieModalPlot"> </p>
                </div>
              </div>
            <!--Col-->
            </div>
          </div>
          <div class="row">
          <div class="col-lg-0"></div>
           <div class="col-lg-12">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                      <div class="carousel-item active" id="movieModalBackdrop1"></div>
                  <div class="carousel-item" id="movieModalBackdrop2"></div>
                  <div class="carousel-item" id="movieModalBackdrop3"></div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <div class="col-lg-0"></div>
          </div>

        </div>
      </div>



      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Central Modal Small -->


{% endblock %}




{% block header %}
  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- <a href="#hero"><img   src="{% static 'userhandling/img/logos/logo_cinemaple.png' %}" alt="" title="" width="10%" /></img></a> -->
        <!-- Uncomment below if you prefer to use a text logo -->
        <h1><a href="#hero">Cinemaple</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about">About Cinemaple</a></li>
          <li><a href="#movienights">Movienights</a></li>
          <li><a href="#call-to-action">Sign Up</a></li>
          <li><a href="#sendmessage">Contact Us</a></li>
        {% if user.is_authenticated %}
        <li>  <a href="" data-toggle="modal" data-target="#logoutmodal" style="font-weight:bold; color:yellow" class="btn-get-started">Logout</a> </li>
        <li> Welcome, {{request.user.first_name}}! </li>
        {% else %}
        <li>  <a href="{% url 'login' %}" style="font-weight:bold; color:yellow" class="btn-get-started">Login</a> </li>
      {% endif %}
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
{% endblock %}


{% block hero %}
  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>Welcome to Cinemaple!</h1>
      <h2>Add an awesome movie night event!</h2>

      <a href="#facts" class="btn-get-started">Let's do it!</a>
    </div>
  </section><!-- #hero -->
{% endblock %}


{% block main %}
  <main id="main">

    <!--==========================
      Add Movie Night
    ============================-->
    <section id="facts">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Add Movies</h3>
          <p class="section-description">Search for movies and add it to movie night event.</p>
        </div>


        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
          </div>
          <input type="text" id="query"class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

         <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Year</span>
          </div>
          <input type="text" id="year"class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
<div>
<table id="movietable" class="display" width="100%">
    <thead>
   <tr>
    </tr>
    </thead>

 </table>

</div>

Powered by <a href="https://www.themoviedb.org/">The Movie DB</a>



      </div>



    </section><!-- #facts -->

  </main>
{% endblock %}


{% block footer %}
  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>
      <div class="container">
      <a href="https://www.iubenda.com/privacy-policy/51526038" class="iubenda-white iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
           </div>
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Regna</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->
{% endblock %}

{% block js %}



<script language="javascript">


search_counter = 0;


// modidify raw json from TMDB to table html
function prep_movie_json(data){
  // Convert Poster Path
  base_url = "https://image.tmdb.org/t/p/w200";

  pre_html = "<img src="
  post_html = "  >"


  for (var i = 0 ; i < data.length ; i++) {
    if (data[i]["poster_path"] == null){
      data[i]["poster_path"]=  " <img  src='{% static 'userhandling/img/NAicon.svg' %}' >"
    }
    else{
      full_url = base_url.concat(data[i]["poster_path"]);
      data[i]["poster_path"] = pre_html.concat(full_url).concat(post_html)
    }
  }

  return data
}

function LoadDataTablesData(data) {

  // Add HTML Styling to JSON Data
  data = prep_movie_json(data);

    //Load  datatable
    var mov_table = $("#movietable");



    var column_name = ["Poster", "Title", "Synopsis",  "Release Date", "Popularity"];

    var num_col = column_name.length;

  if (search_counter == 0){

      for (var i = 0; i < num_col; i++) {

        $('#movietable > thead tr').append('<th> '.concat(column_name[i]).concat('</th>'));
      }



    // Datatable without destroy option for first executions
    dat_tbl = mov_table.DataTable ({
    "data" : data,
     "order": [[ 4, "desc" ]],
      searching: false,
    "columns" : [
        { "data"  : "poster_path"},
        { "data"  : "title" },
        { "data"  : "overview" },
        { "data"  : "release_date"},
        { "data"  : "popularity"},

        ],
    });

     $('#movietable tbody').on('click', 'tr', function () {
        var data = dat_tbl.row( this ).data();

        {% if debug %}
        url_trunk = "http://127.0.0.1:8000/imdb_tmdb/movie/";
        {% else %}
        url_trunk = "http://www.cinemaple.com/imdb_tmdb/movie/";
        {% endif %}


        url = url_trunk.concat(data['id'])

        fetch(url)
          .then(response => {
          return response.json()
        })
        .then(data => {
          console.log(data);
          LaunchMovieModal(data);

        })
        .catch(err => {
        // Do something for an error here
        })
    } );

    }
    else{
    dat_tbl = mov_table.DataTable ({
    "data" : data,
      searching: false,
      "order": [[ 4, "desc" ]],
      destroy: true,
    "columns" : [
        { "data"  : "poster_path"},
        { "data"  : "title" },
        { "data"  : "overview" },
        { "data"  : "release_date"},
        { "data"  : "popularity"},

        ],
    });
    }

 search_counter++;
}

function LaunchMovieModal(data){

  // Empty Modal
  $( "#movieModalTitle" ).empty();
  $( "#movieModalPoster" ).empty();
  $( "#movieModalBackdrop1" ).empty();
  $( "#movieModalBackdrop2" ).empty();
  $( "#movieModalYear").empty();
  $( "#movieModalCountry").empty();
  $( "#movieModalDirector").empty();
  $( "#movieModalActors").empty();
  $( "#movieModalRuntime").empty();
  $( "#movieModalPlot").empty();


  // Title
  $( "#movieModalTitle" ).append( data["tmdb_movie"]["title"] );

  // Poster
  base_url = "https://image.tmdb.org/t/p/w400";
  pre_html = "<img class='d-block w-100' src=\'"
  post_html = "\'   >"
  posterlink = pre_html.concat(base_url, data["tmdb_movie"]["poster_path"], post_html)
  $( "#movieModalPoster" ).append(posterlink);

  backdrop1_link = pre_html.concat(base_url, data["tmdb_images"]["backdrops"][0]["file_path"], post_html)
  $( "#movieModalBackdrop1" ).append(backdrop1_link);

  backdrop2_link = pre_html.concat(base_url, data["tmdb_images"]["backdrops"][1]["file_path"], post_html)
  $( "#movieModalBackdrop2" ).append(backdrop2_link);

   backdrop3_link = pre_html.concat(base_url, data["tmdb_images"]["backdrops"][2]["file_path"], post_html)
  $( "#movieModalBackdrop3" ).append(backdrop3_link);



  // Movie Infos
  $( "#movieModalYear").append(remove_breaks(data["imdb_movie"]["Year"]));
  $( "#movieModalCountry").append(remove_breaks(data["imdb_movie"]["Country"]));
  $( "#movieModalDirector").append(remove_breaks(data["imdb_movie"]["Director"]));
  $( "#movieModalActors").append(remove_breaks(data["imdb_movie"]["Actors"]));
  $( "#movieModalRuntime").append(remove_breaks(data["imdb_movie"]["Runtime"]));
  $( "#movieModalPlot").append(remove_breaks(data["imdb_movie"]["Plot"]));






  $("#movieModal").modal();



}


// Get input from textfield, call TMDB API, render Datatable
function find_movies() {
  console.log(search_counter);

  // Get query string
	var query = document.getElementById("query").value;
	var year = document.getElementById("year").value;

  if (query == "" || query == null){

  }
  else{
    // get JSON using wrapper on TMDB API
    {% if debug %}
    url_trunk = "http://127.0.0.1:8000/tmdb/";
    {% else %}
    url_trunk = "http://www.cinemaple.com/tmdb/";
    {% endif %}


    if (year == "") {
      url = url_trunk.concat(query)
    }
    else{
      url = url_trunk.concat(query, "/", year)
    }

    fetch(url)
    .then(response => {
      return response.json()
    })
    .then(data => {
      // Build an new table.
          LoadDataTablesData(data["results"]);
          console.log(data);
    })
    .catch(err => {
      // Do something for an error here
    })
  }
}


const sleep = (milliseconds) => {
  return new Promise(resolve => setTimeout(resolve, milliseconds))
}


// Autp update doneTypingInterval ms after done typing
// Thanks to https://stackoverflow.com/questions/4220126/run-javascript-function-when-user-finishes-typing-instead-of-on-key-up
var typingTimer;                //timer identifier
var doneTypingInterval = 200;  //time in ms, 5 second for example
var $input = $('input[type=text]');

//on keyup, start the countdown
$input.on('keyup', function () {
  clearTimeout(typingTimer);
  typingTimer = setTimeout(doneTyping, doneTypingInterval);
});

//on keydown, clear the countdown
$input.on('keydown', function () {
  clearTimeout(typingTimer);
});

//user is "finished typing," get movies
function doneTyping () {
  find_movies();
}


function remove_breaks(str){
  return str.replace(/(\r\n|\n|\r)/gm, "");
}
</script>


  <script type="text/javascript" src="{% static 'userhandling/lib/mdb/js/mdb.min.js' %}"></script>
{% endblock %}


