{% extends 'logged_in_base.html' %}
{% load static %}

{# Load the tag library #}
{% load bootstrap3 %}


{% block css_imports %}
<link href="{% static 'userhandling/css/val_succ_modal.css' %}" rel="stylesheet">
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.js"></script>
<link rel="stylesheet" type="text/css"
  href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
<link href="{% static 'userhandling/lib/mdb/css/mdb.lite.css' %}" rel="stylesheet">


<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css"
  type="text/css" media="all" rel="stylesheet">
<link href="/static/bootstrap_datepicker_plus/css/datepicker-widget.css" type="text/css" media="all" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js">
</script>




{% endblock %}


{% block header %}<!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#hero">Cinemaple</a></h1> -->
        <a href="{% url 'index' %}"><img   src="{% static 'userhandling/img/logos/logo_cinemaple.png' %}" alt="" title="" height="40" /></img></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">

          <li class="menu-active" ><a href={% url 'curr_mov_nights' %}>Current Movie Night</a></li>
          <li class="menu-active" ><a href={% url 'past_mov_nights' %}>Past Movie Night</a></li>
          {% if request.user.is_staff %}
          <li class="menu-has-children"><a href="">Admin Actions</a>
            <ul>
              <li><a href={% url 'add_movie_night' %}>Add Movie Night</a></li>
              <li><a href={% url 'man_mov_nights' %}>Manage Movie Nights</a></li>
              <li><a href={% url 'ml_health' %}>Mailing List Healths</a></li>
            </ul>

          {% endif %}
        {% if user.is_authenticated %}
        <li class="menu-has-children"><a href="">User Setting</a>
            <ul>
              <li><a href={% url 'change_password' %}>Change Password</a></li>
              <li><a href={% url 'change_profile' %} >Change Profile</a></li>
            </ul>
        <li>  <a href={% url 'logout'%} data-toggle="modal" data-target="#logoutmodal" style="font-weight:bold; color:#af353b" class="btn-get-started"  >Logout</a> </li>


        {% else %}
        <li>  <a href="{% url 'login' %}" style="font-weight:bold; color:#af353b" class="btn-get-started">Login</a> </li>
      {% endif %}
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
{% endblock %}

{% block main %}
<div class="container-fluid">
  <div class="row">

    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12" data-spy="affix" data-offset-top="197">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary" id="page-top">{{movienight.motto}}: Attendence List</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="col-xl-12 col-lg-12"style = "margin-top:-0.5%">

            <table id="movienight_table" class="display" style="width:100%" >
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Toppings</th>
                  <th>Registration Date</th>
                  <th>Reg. complete?</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
{% endblock %}






{% block js %}
<script>
  $(document).ready(function () {
    var table = $('#movienight_table').DataTable({
      "ajax": {
        "url": "/api/attendence_list/{{movienight.id}}?format=json",
        "dataSrc": function (json) {
          return json["results"];
        }
      },
      "columns": [ {
          "data": "firstlastname"
        },
        {
          "data": "toppings"
        }, {
          "data": "reg_date"
        },
        {
          "data": "registration_complete"
        }
      ],
      "columnDefs": [{
        "targets": -1,
        "data": "registration_complete",
        "render": function (data, type, row, meta) {
          if (data) {
            return "<span class='badge badge-success'>Yes</span>"
          } else {
            return "<span class='badge badge-danger'>No</span>"
          }
        }
      }],

    });
  });
</script>


<script type="text/javascript" src="{% static 'userhandling/lib/mdb/js/mdb.min.js' %}"></script>
{% endblock %}