{% extends 'dashboard_base.html' %}
{% load static %}
{% load shuffle %}


{% block css_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'userhandling/css/youtubemodal.css' %}">



{% endblock%}


{% block sidebar %}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Cinemaple</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->

    <li class="nav-item {% if navbar == 'curr_mov_night' %}active{% endif %}">
        <a class="nav-link" href={% url 'curr_mov_nights' %}>
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Currrent Movie Night</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    {% if request.user.is_staff %}
    <!-- Heading -->
    <div class="sidebar-heading">
        Admin
    </div>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href={% url 'add_movie_night' %}>
            <i class="fas fa-fw fa-cog"></i>
            <span>Add Movie Nights</span></a>
    </li>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href={% url 'man_mov_nights' %}>
            <i class="fas fa-fw fa-cog"></i>
            <span>Manage Movie Nights</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">
    {% endif %}

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
            aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item" href="login.html">Login</a>
                <a class="collapse-item" href="register.html">Register</a>
                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other Pages:</h6>
                <a class="collapse-item" href="404.html">404 Page</a>
                <a class="collapse-item" href="blank.html">Blank Page</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
{% endblock %}


{% block main %}
<div class="container-fluid">

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">{% if no_movie != 1 %} {{movienight.motto}} {% else %} No Current Movienight Found {% endif %}</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    {% if no_movie != 1 %}
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 ">
                            <div class="row mb-4">
                                <div class="col-xl-3 col-lg-3 "> When: </div>
                                <div class="col-xl-9 col-lg-9 ">{{movienight.date}} </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-xl-3 col-lg-3 "> Where: </div>
                                <div class="col-xl-9 col-lg-9 "> 57 Maple Avenue, 02139 Cambridge Massachusetts </div>
                            </div>


                            <div class="row mb-4 ">
                                <div class="col-xl-3 col-lg-3 "> What: </div>
                                <div class="col-xl-9 col-lg-9 "> {% autoescape off %} {{movienight.description}}
                                    {% endautoescape %} </div>
                            </div>

                            <div class="row mb-4 ">
                                <div class="col-xl-3 col-lg-3 "> Vote until: </div>
                                <div class="col-xl-9 col-lg-9 "> {{movienight.vote_until }} </div>
                            </div>

                            {% if navbar == "curr_mov_night" and movienight.is_active%}
                            <div class="row mb-4">
                                <div class="col-xl-3 col-lg-3 "> Status: </div>
                                <div class="col-xl-9 col-lg-9 ">
                                    {% if request.user in movienight.AttendenceList.all %}
                                    <span class='badge badge-success'>Registered</span>
                                    {% else %}
                                    <span class='badge badge-danger'> Not registered</span>
                                    {% endif %}
                                </div>
                            </div>



                            <div class="row mb-4 justify-content-center">
                                <div class="col-xl-3 col-lg-3 "> User Action: </div>
                                <div class="col-xl-9 col-lg-9 ">
                                    {% if request.user in movienight.AttendenceList.all %}


                                    <div class="dropdown">
                                        <a class="btn btn-primary dropdown-toggle btn-sm" href="#" role="button"
                                            id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Select Action
                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" id="#"
                                                href="{% url 'ureg_movie_night' movienight_id=movienight.id %}">Unregister</a>
                                        </div>

                                    </div>


                                    {% else %}
                                    <a class='btn btn-primary btn-sm'
                                        href="{% url 'reg_movie_night' movienight_id=movienight.id %}"
                                        role='button'>Register Now!</a>

                                    {% endif %}

                                </div>

                            </div>


                           {% endif %}


                            {% if request.user.is_staff %}

                            <hr class="sidebar-divider">

                            <div class="row mb-4">
                                <div class="col-xl-3 col-lg-3 "> Status: </div>
                                <div class="col-xl-9 col-lg-9 ">
                                    {% if movienight.get_status == "DRAFT" %}
                                    <span class='badge badge-secondary'>Draft</span>
                                    {% elif movienight.get_status == "ACTIVE" %}
                                    <span class='badge badge-success'>Active</span>
                                    {% elif movienight.get_status == "PAST" %}
                                    <span class='badge badge-primary'>In past</span>
                                    {% elif movienight.get_status == "DEAC" %}
                                    <span class='badge badge-danger'>Canceled</span>
                                    {% endif %}
                                </div>
                            </div>


                            <div class="row mb-4">
                                <div class="col-xl-3 col-lg-3 "> Voting enabled: </div>
                                <div class="col-xl-9 col-lg-9 ">
                                    {% if movienight.voting_enabled %}
                                    <span class='badge badge-success'>Enabled</span>
                                    {% else %}
                                    <span class='badge badge-danger'> Disabled</span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-xl-3 col-lg-3 "> Admin Action: </div>
                                <div class="col-xl-9 col-lg-9 ">

                                    <div class="dropdown">
                                        <a class="btn btn-secondary dropdown-toggle btn-sm" href="#" role="button"
                                            id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Select Action
                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                                            {% if movienight.get_status == "DRAFT" %}
                                            <a class="dropdown-item" id="activate_confirm" href="#"
                                                src="{% url 'activate_movie_night' movienight_id=movienight.id %}">Activate</a>
                                            {% elif movienight.get_status == "ACTIVE" %}
                                            <a class="dropdown-item" id="deactivate_confirm" href="#"
                                                src="{% url 'deactivate_movie_night' movienight_id=movienight.id %}">Cancel</a>

                                            {% endif %}



                                            <a class="dropdown-item"
                                                href="{% url 'change_movie_night' movienight_id=movienight.id %}">Modify</a>
                                            <a class="dropdown-item" id="delete_confirm" href="#"
                                                src="{% url 'delete_mov_night' movienight_id=movienight.id %}">Delete</a>
                                        </div>
                                    </div>


                                </div>
                            </div>



                            {% endif%}

                                                    <div class="row mb-4">
                                <div class="col-xl-12 col-lg-12 "> Movie Selection (register to rate): </div>
                            </div>


                        </div>
                    </div>

                    <div class="row mb-4">

                        <div class="col-xl-12 col-lg-12 ">
                            <div id="accordion">

                                {% for movie in movienight.MovieList.all|shuffle %}

                                <div class="card">
                                    <div class="card-header" id="heading{{ forloop.counter0 }}">
                                        <h5 class="mb-0">
                                            {% if forloop.counter0 == 0 %}
                                            <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapse{{ forloop.counter0 }}" aria-expanded="true"
                                                aria-controls="collapse{{ forloop.counter0 }}">
                                                {{ movie.title }} ({{movie.year}})
                                                {% else %}
                                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                                    data-target="#collapse{{ forloop.counter0 }}" aria-expanded="false"
                                                    aria-controls="collapse{{ forloop.counter0 }}">
                                                    {{ movie.title }} ({{movie.year}})
                                                    {% endif%}
                                                </button>
                                        </h5>
                                    </div>
                                    {% if forloop.counter0 == 0 %}
                                    <div id="collapse{{ forloop.counter0 }}" class="collapse show"
                                        aria-labelledby="heading{{ forloop.counter0 }}" data-parent="#accordion">
                                        {% else %}
                                        <div id="collapse{{ forloop.counter0 }}" class="collapse"
                                            aria-labelledby="heading{{ forloop.counter0 }}" data-parent="#accordion">
                                            {% endif%}
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-xl-3 col-lg-3 ">

                                                        <div class="row justify-content-center mb-2">


                                                            <img src="https://image.tmdb.org/t/p/w200{{movie.posterpath}}"
                                                                class="img-fluid">


                                                        </div>
                                                        <div class="row"></div>
                                                        <div class="row justify-content-center">
                                                            <div id="trailerbutton"></div>
                                                            {% if movie.trailerlink == "" %}
                                                            <button type='button' class='btn btn-primary disabled'>No
                                                                trailer available </button>
                                                            {% else %}
                                                            <button type='button' class='btn btn-primary video-btn'
                                                                data-src="{{movie.trailerlink}}"> Watch Trailer
                                                            </button>
                                                            {% endif %}
                                                        </div>





                                                    </div>


                                                    <div class="col-xl-9 col-lg-9 ">
                                                        <!--Grid column-->

                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <p class="font-weight-bold">Country:</p>
                                                            </div>

                                                            <!--Grid column-->

                                                            <!--Grid column-->
                                                            <div class="col-lg-9">
                                                                <p id="movieModalCountry"> {{movie.country}} </p>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <p class="font-weight-bold">Director:</p>
                                                            </div>

                                                            <!--Grid column-->

                                                            <!--Grid column-->
                                                            <div class="col-lg-9">
                                                                <p id="movieModalDirector"> {{movie.director}} </p>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <p class="font-weight-bold">Producer:</p>
                                                            </div>

                                                            <!--Grid column-->

                                                            <!--Grid column-->
                                                            <div class="col-lg-9">
                                                                <p id="movieModalProducer"> {{movie.producer}} </p>
                                                            </div>
                                                        </div>



                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <p class="font-weight-bold">Actors:</p>
                                                            </div>

                                                            <!--Grid column-->

                                                            <!--Grid column-->
                                                            <div class="col-lg-9">
                                                                <p id="movieModalActors"> {{movie.actors}} </p>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <p class="font-weight-bold">Runtime:</p>
                                                            </div>

                                                            <!--Grid column-->

                                                            <!--Grid column-->
                                                            <div class="col-lg-9">
                                                                <p id="movieModalRuntime"> {{movie.runtime}} </p>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <p class="font-weight-bold">Plot:</p>
                                                            </div>

                                                            <!--Grid column-->

                                                            <!--Grid column-->
                                                            <div class="col-lg-9">
                                                                <p id="movieModalPlot"> {{movie.plot}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                No active movie night found. {% if request.user.is_staff %} Manage movie nights <a
                    href={% url 'man_mov_nights' %}>here.</a> {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    {% endblock %}


    {% block modals %}
    <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Do you want to permanentely delete this movie night?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger" id="deletbutton" href="">Delete</a>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="activatemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Activating the movienight will send out invitation emails and opens the poll.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" id="activatebutton" href="">Activate</a>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="active_exists" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cannot activate</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">There already exists an active movie night. You can deactive it and activate
                    this movie night afterwards.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="disactivatemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Cancelling the movie night will send out notifications to all registered users.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Dismiss</button>
                    <a class="btn btn-primary" id="deactivatebutton" href="">Cancel movie night</a>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog youtube-modal-dialog" role="document">
            <div class="modal-content">


                <div class="modal-body youtube-modal-body">

                    <button type="button" class="close youtube-modal-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"
                            allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}


    {% block js %}

    <script>
        $(document).ready(function () {

            // Gets the video src from the data-src on each button

            {%if activeMovieExists %}
            $("#active_exists").modal();
            {% endif %}


            var $videoSrc;
            $('.video-btn').click(function () {
                $videoSrc = $(this).data("src");
                $videoSrc = $videoSrc +
                    "?autoplay=0&amp;modestbranding=1&amp;showinfo=0";
                console.log($videoSrc);
                $("#video").attr('src', $videoSrc);
                $("#myModal").modal();
            });


            $('#deactivate_confirm').click(function () {
                $cancelURL = $(this).attr("src");
                $("#deactivatebutton").attr('href', $cancelURL);
                $("#disactivatemodal").modal();
            });

            $('#activate_confirm').click(function () {
                $activateURL = $(this).attr("src");
                $("#activatebutton").attr('href', $activateURL);
                $("#activatemodal").modal();
            });

            $('#delete_confirm').click(function () {
                $deleteURL = $(this).attr("src");
                $("#deletbutton").attr('href', $deleteURL);
                $("#deletemodal").modal();
            });



            // stop playing the youtube video when I close the modal
            $('#myModal').on('hide.bs.modal', function (e) {
                // a poor man's stop video
                $("#video").attr('src', "");
            })

            // document ready
        });
    </script>

    {% endblock %}