{% extends 'base.html' %}
{% load static %}


{% block css_imports %}
<link  href="{% static 'userhandling/css/val_succ_modal.css' %}" rel="stylesheet">
{% endblock %}

{% block modals %}
{% if successful_verified %}
<div id="RegVerifyModall" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box">
          <i class="material-icons">&#xE876;</i>
        </div>
        <h4 class="modal-title">Validation Successful!</h4>
      </div>
      <div class="modal-body">
        <p class="text-center">You have sucessfully validated <b>{{email}}</b> and may now log in using your username <b>{{username}}</b>.</p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'login' %}" class="btn btn-success btn-block">Login</a>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div id="logoutmodal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
<div class="container">
  <div class="col-sm">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header"><h4>Logout <i class="fa fa-lock"></i></h4></div>
          <div class="modal-body"><i class="fa fa-question-circle"></i> Are you sure you want to log-off?</div>
          <div class="modal-footer"><a href={% url 'logout' %} class="btn-get-started">Logout</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}




{% block header %}
  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">        
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#hero">Cinemaple</a></h1> -->
        <a href="#hero"><img   src="{% static 'userhandling/img/logos/logo_cinemaple.png' %}" alt="" title="" height="40" /></img></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about">About Cinemaple</a></li>
          <li><a href="#movienights">Movienights</a></li>
          <li><a href="#call-to-action">Sign Up</a></li>
          <li><a href="#sendmessage">Contact Us</a></li>
        {% if user.is_authenticated %}
        <li>  <a href="" data-toggle="modal" data-target="#logoutmodal" style="font-weight:bold; color:yellow" class="btn-get-started">Logout</a> </li>
        <li> Welcome, {{request.user.first_name}}! </li>
        {% else %}
        <li>  <a href="{% url 'login' %}" style="font-weight:bold; color:#af353b" class="btn-get-started">Login</a> </li>
      {% endif %}
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
{% endblock %}


{% block hero %}
  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <a href="#hero"><img src="{% static 'userhandling/img/cinemaple.png' %}" alt="" title="" height="100" /></img></a>
      <h1>Movies, friends, crepes.</h1>
      <br>
      <!-- <h1><a href="#hero"><img   src="{% static 'userhandling/img/mainbutton.png' %}" alt="" title="" height="100" /></img></a></h1> -->
      <a href = "{% url 'curr_mov_nights' %}"><button type="button" class="btn btn-primary btn-lg"> <i class="em em-movie_camera" aria-role="presentation" aria-label="MOVIE CAMERA"></i> Find movie nights.</button></a>      
    </div>
  </section><!-- #hero -->
{% endblock %}


{% block main %}
  <main id="main">

    <section id="about">
      <div class="container">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">cinemaple</h2>
            <p>
              cinemaple was created to  
            </p>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="em em-bar_chart" aria-role="presentation" aria-label="BAR CHART"></i></div>
              <h4 class="title"><a href="">Poll Based Movie Selection</a></h4>
              <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div>

            <div class="icon-box wow fadeInUp" style = "visibility: visible;" data-wow-delay="0.2s">
              <div class="icon"><i class="em em-heart_eyes_cat"></i></div>
              <h4 class="title"><a href="">Delish' Crepes</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="em em-100"></i></div>
              <h4 class="title"><a href="">Awesome Friends</a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Facts Section
    ============================-->
    <section id="facts">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Facts</h3>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
        <div class="row counters">

  				<div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">232</span>
            <p>Eaten Crepes</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">15</span>
            <p>Polled Movies</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">36,000</span>
            <p>Seconds of Movies Watched</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">0</span>
            <p>Ragrets</p>
  				</div>

  			</div>

      </div>
    </section><!-- #facts -->

    <!--==========================
      Movie Nights Section
    ============================-->
    <section id="movienights">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Movie Nights</h3>
          <p class="section-description">Please find a selection of the past movie nights LOL.</p>
        </div>
      </div>

    </section><!-- #services -->

    <!--==========================
    Call To Action Section
    ============================-->
    <section id="call-to-action">
      <div class="container wow fadeIn">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Subscribe Now</h3>
            <p class="cta-text"> Subscribe to CINEMAPLE and receive notifications on movie nights organized in your area. Bla bla bla</p>
      <!--==========================
    Register Modal
    ============================-->
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#" data-toggle="modal" data-target="#modalRegisterForm">Sign Up Now!</a>
          </div>


          </div>

        </div>

      </div>
    </section><!-- #call-to-action -->

      <!-- Uncomment below if you wan to use dynamic maps -->
      <iframe src="https://maps.google.com/maps?q=57%20maple%20avenue%2C%20Cambridge&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>

      <div class="container wow fadeInUp mt-5">
        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-4">

            <div class="info">
              <div>
                <i class="fa fa-map-marker"></i>
                <p>57 Maple Avenue<br>Cambridge, MA 02139</p>
              </div>

              <div>
                <i class="fa fa-envelope"></i>
                <p>admin@cinemaple.com</p>
              </div>
            </div>

            <div class="social-links">
               <a href="https://github.com/cknaut/cinemaple" class="github"><i class="fa fa-github"></i></a>
            </div>

          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>
{% endblock %}


{% block footer %}
  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>
      <div class="container">
      <a href="https://www.iubenda.com/privacy-policy/51526038" class="iubenda-white iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
           </div>
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Regna</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->
{% endblock %}

{% block js %}
{% if successful_verified %}
  <script type="text/javascript">
      $(document).ready(function(){
          $("#RegVerifyModall").modal('show');
      });
  </script>
{% endif %}
{% endblock %}

