

{% extends 'registration_base.html' %}
{% load static %}

{% block css_imports %}
<!-- Success Modal Stylesheet File -->
<link  href="{% static 'userhandling/css/loginform.css' %}" rel="stylesheet">
  {% endblock %}

{% block tagline %}
<h3>Welcome</h3>
<p>Please login to access information about upcoming movie nights!</p>
{% endblock %}

{% block heading %}
<h3 class="register-heading">Log in.</h3>
{% endblock %}

{% block form %}
<form class="login" method="POST" action="/login/">

  {% csrf_token %}


<div class="form-group">
    <label for="exampleInputEmail1">Username:</label>
      {{login_form.username.errors}}
      {{login_form.username}}
</div>


<div class="form-group">
    <label for="exampleInputEmail1">Password:</label>
      {{login_form.password.errors}}
      {{login_form.password}}
</div>




  <div class="modal-footer d-flex justify-content-center">
  <input class="btn btn-deep-orange" type="submit" value="Log in">
   <a href="{% url 'index' %}" class="btn btn-deep-orange">Back to home.</a>
</div>
  </form>

<div> Not registered yet? <a href="{% url 'registration' %}" class="btn btn-deep-orange">Signup here!</a> </div>

<div>  Forgot password? <a href="{% url 'password_reset_request' %}" class="btn btn-deep-orange">Reset password.</a> </div>
{% endblock %}
