

{% extends 'registration_base.html' %}
{% load static %}

{% block css_imports %}
<!-- Success Modal Stylesheet File -->
<link  href="{% static 'userhandling/css/loginform.css' %}" rel="stylesheet">
  {% endblock %}

{% block tagline %}
<h3>Welcome</h3>
<p>Please login to access information about upcoming movie nights!</p>
{% endblock %}

{% block form %}
<form class="login" method="POST" action="/login/">

  {% csrf_token %}

{% if login_form.errors %}

<div class="alert alert-danger" role="alert">
  Your username and password didn't match. Please try again.
</div>
{% endif %}


<div class="form-group">
    <label for="exampleInputEmail1"> <font color = "white">Username:</color></label>
      {{login_form.username.errors}}
      {{login_form.username}}
</div>


<div class="form-group">
    <label for="exampleInputEmail1">Password:</label>
      {{login_form.password.errors}}
      {{login_form.password}}
</div>

<input type="hidden" name="next" value="{{ next }}" />




  <div class="modal-footer d-flex justify-content-center">
  <input class="btn btn-deep-orange btn-sm" type="submit" value="Log in">
   <a href="{% url 'index' %}" class="btn btn-primary btn-sm">Back to home.</a>
</div>
  </form>
<br>
<div> Not registered yet? <a href="{% url 'registration' %}" >Signup here!</a> </div>
<br>
<div>  Forgot password? <a href="{% url 'password_reset_request' %}">Reset password.</a> </div>
{% endblock %}
