{% extends 'logged_in_base.html' %}
{% load static %}
{% load shuffle %}


{% block css_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'userhandling/css/youtubemodal.css' %}">
<script type="text/javascript" src="{% static 'userhandling/lib/starrating/jquery.raty.js' %}" <></script>
<link rel="stylesheet" type="text/css" href="{% static 'userhandling/lib/starrating/jquery.raty.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'userhandling/css/youtubemodal.css' %}">
<link href="{% static 'userhandling/css/val_succ_modal.css' %}" rel="stylesheet">
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.js"></script>
<link rel="stylesheet" type="text/css"
  href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
<link href="{% static 'userhandling/lib/animate/animate.css' %}" rel="stylesheet">
<link href="{% static 'userhandling/lib/mdb/css/mdb.lite.css' %}" rel="stylesheet">


<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css"
  type="text/css" media="all" rel="stylesheet">
<link href="/static/bootstrap_datepicker_plus/css/datepicker-widget.css" type="text/css" media="all" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js">
</script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js">
</script>
<script type="text/javascript" src="/static/bootstrap_datepicker_plus/js/datepicker-widget.js"></script>
<script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=pqiihwpzf32ctpl7kn59g5ivcztnma4qormn1elar66gqrw4">
</script>

<style>
    @font-face {
        font-family: "raty";
        font-style: normal;
        font-weight: normal;
        src: url("{% static 'userhandling/lib/starrating/fonts/raty.eot' %}");
        src: url("{% static 'userhandling/lib/starrating/fonts/raty.eot?#iefix' %}") format("embedded-opentype");
        src: url("{% static 'userhandling/lib/starrating/fonts/raty.svg#raty' %}") format("svg");
        src: url("{% static 'userhandling/lib/starrating/fonts/raty.ttf' %}") format("truetype");
        src: url("{% static 'userhandling/lib/starrating/fonts/raty.woff' %}") format("woff");
    }
</style>


{% endblock%}

{% block main %}
<div class="container-fluid">

    <!-- Content Row -->
    <div class="row3">

        <!-- Earnings (Monthly) Card Example -->
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Mailing List Health</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">

                        <div class="row4">
                                <div class="col-xl-3 col-lg-3">
                                Mailchimp audience ID:
                                </div>

                                <div class="col-xl-9 col-lg-93">
                                    {{mc_id}}
                                </div>
                        </div>



                        <div class="row4">
                                <div class="col-xl-3 col-lg-3">
                                Response Status:
                                </div>

                                <div class="col-xl-9 col-lg-93">
                                    {{status|safe}}
                                </div>
                        </div>

                        <div class="row4">
                                <div class="col-xl-3 col-lg-3">
                                Mailing List Health:
                                </div>

                                <div class="col-xl-9 col-lg-93">
                                    {{health|safe}}
                                </div>
                        </div>



                        <div class="row4">
                                <div class="col-xl-3 col-lg-3">
                               Subscribed Members ({{ subs|length }} total):
                                </div>

                                <div class="col-xl-9 col-lg-9">
                                {% for  email in subs %}
                                <div class="row1">
                                {{email|safe}}
                                </div>
                                {% endfor %}
                                </div>
                        </div>

                        <div class="row4">
                                <div class="col-xl-3 col-lg-3">
                               Unsubscribed Members ({{ usubs|length }}  total):
                                </div>

                                <div class="col-xl-9 col-lg-9">
                                        {% for  email in usubs %}
                                        <div class="row1">
                                                {{email|safe}}
                                            </div>
                                        {% endfor %}
                                </div>
                        </div>

                        <div class="row4">
                                <div class="col-xl-3 col-lg-3">
                               Active Users ({{ user_emails|length }}  total):
                                </div>

                                <div class="col-xl-9 col-lg-9">
                                        {% for  email in user_emails %}
                                        <div class="row1">
                                                {{email|safe}}
                                            </div>

                                        {% endfor %}
                                </div>
                        </div>


                        <div class="row4">
                                <div class="col-xl-3 col-lg-3">
                               Active users not in Mailchimp list ({{ users_not_in_mc|length }}  total):
                                </div>

                                <div class="col-xl-9 col-lg-9">
                                        {% for  email in users_not_in_mc %}
                                        <div class="row1">
                                        {{email|safe}}
                                        </div>
                                        {% endfor %}
                                </div>
                        </div>






                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock %}


{% block modals %}

<div class="modal fade" id="pwchanged" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Password succesfully changed!</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">You can now log in using your new password.
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" data-dismiss="modal">Cool</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="userchanged" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">User information succesfully changed!</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Your profile has been updated.
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" data-dismiss="modal">Cool</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block js %}


{% endblock %}