{% extends 'logged_in_base.html' %}
{% load static %}
{% load shuffle %}


{% block css_imports %}
<link rel="stylesheet" type="text/css" href="{% static 'userhandling/css/youtubemodal.css' %}">
<script type="text/javascript" src="{% static 'userhandling/lib/starrating/jquery.raty.js' %}" <></script>
<link rel="stylesheet" type="text/css" href="{% static 'userhandling/lib/starrating/jquery.raty.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'userhandling/css/youtubemodal.css' %}">
<link href="{% static 'userhandling/css/val_succ_modal.css' %}" rel="stylesheet">
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.js"></script>
<link rel="stylesheet" type="text/css"
  href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
<link href="{% static 'userhandling/lib/animate/animate.css' %}" rel="stylesheet">
<link href="{% static 'userhandling/lib/mdb/css/mdb.lite.css' %}" rel="stylesheet">


<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css"
  type="text/css" media="all" rel="stylesheet">
<link href="/static/bootstrap_datepicker_plus/css/datepicker-widget.css" type="text/css" media="all" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js">
</script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js">
</script>
<script type="text/javascript" src="/static/bootstrap_datepicker_plus/js/datepicker-widget.js"></script>
<script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=pqiihwpzf32ctpl7kn59g5ivcztnma4qormn1elar66gqrw4">
</script>

<style>
    @font-face {
        font-family: "raty";
        font-style: normal;
        font-weight: normal;
        src: url("{% static 'userhandling/lib/starrating/fonts/raty.eot' %}");
        src: url("{% static 'userhandling/lib/starrating/fonts/raty.eot?#iefix' %}") format("embedded-opentype");
        src: url("{% static 'userhandling/lib/starrating/fonts/raty.svg#raty' %}") format("svg");
        src: url("{% static 'userhandling/lib/starrating/fonts/raty.ttf' %}") format("truetype");
        src: url("{% static 'userhandling/lib/starrating/fonts/raty.woff' %}") format("woff");
    }
</style>


{% endblock%}

{% block main %}
<div class="container-fluid">

    <!-- Content Row -->
    <div class="row3">

        <!-- Earnings (Monthly) Card Example -->
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Manage User</h6>
                </div>
                <!-- Card Body -->


                
                <div class="card-body">

                        <div class="row4 justify-content-md-center" >
                                <div class="col-xl-7 col-lg-7">
                        <h3>User Information</h3>

                      
                    <div class="row4">
                        <div class="col-xl-3 col-lg-3">
                                <b> User:  </b>
                            </div>  

                            <div class="col-xl-6 col-lg-6">
                                    <span class="badge badge-primary"> {{user.username }} </span>
                        </div>  
                </div>

                <div class="row4">
                        <div class="col-xl-3 col-lg-3">
                                <b>Name:</b>
                            </div>  

                            <div class="col-xl-6 col-lg-6">
                                    <span class="badge badge-primary"> {{user.first_name  }} {{user.last_name  }} </span>
                        </div>  
                </div>

                <hr>
                <h3>Update Location Permissions</h3>

                {%for loc_perm in location_permissions %}
                            
                <div class="accordion" id="accordionlocations">
                    <div class="card">
                      <div class="card-header" id="heading{{ forloop.counter }}">
                        <h2 class="mb-0">
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne">
                            {{loc_perm.location }}
                          </button>
                        </h2>
                      </div>
                  
                      <div id="collapse{{ forloop.counter }}" class="collapse show" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordionlocations">
                        <div class="card-body">
                                <div class="row4">
                                        <div class="col-xl-3 col-lg-3">
                                                <b> Location:  </b>
                                            </div>  

                                            <div class="col-xl-6 col-lg-6">
                                                    <span class="badge badge-primary"> {{loc_perm.location }} </span>
                                        </div>  
                                </div>

                                <div class="row4">
                                        <div class="col-xl-3 col-lg-3">
                                                <b>Role:</b>
                                            </div>  

                                            <div class="col-xl-9 col-lg-9">
                                                    <div class="row">
                                                            <div class="col-xl-6 col-lg-6">
                                                 
                                                        <span class="badge badge-primary"> {{loc_perm.get_role_display  }} </span> 
                                                        
                                                    </div>
                                                    <div class="col-xl-5 col-lg-5">
                                                        <a class="btn btn-secondary btn-sm" href="{% url 'change_role' user_id=user.id locperm_id=loc_perm.id %}" role="button">Change Role</a>
                                                    </div>  
                                                    </div>  
                                                    </div>  

                                </div>

                                <div class="row4">
                                    <div class="col-xl-3 col-lg-3">
                                            <b>Has Access:</b>
                                        </div>  

                                        

                                                
                                        <div class="col-xl-9 col-lg-9">
                                                <div class="row">

                                                        {% if loc_perm.revoked_access %}

                                                        <div class="col-xl-6 col-lg-6">
                                                                <span class='badge badge-danger'>No</span>
                                                            </div>
                    
                                                            <div class="col-xl-5 col-lg-5">
                                                                    <a class="btn btn-success btn-sm" href="{% url  'toggle_access_admin' rev_access_hash=loc_perm.rev_access_hash %}" role="button">Grant Access</a>
                                                                </div>                                              
                                            {% else %}
                                            <div class="col-xl-6 col-lg-6">
                                            <span class='badge badge-success'>Yes</span>
                                        </div>
                                        <div class="col-xl-5 col-lg-5">
                                            <div class="col-xl-5 col-lg-5">
                                                <a class="btn btn-danger btn-sm" href="{% url  'toggle_access_admin' rev_access_hash=loc_perm.rev_access_hash %}" role="button">Revoke Access</a>
                                            </div>
                                            </div>  

                                            

                                            {%endif %}


                                        </div> 
                                        
                                    </div>  
                            </div>

                                <div class="row4">
                                        <div class="col-xl-3 col-lg-3">
                                                <b>Inviter:  </b>
                                            </div>  

                                            <div class="col-xl-6 col-lg-6">
                                                    <span class="badge badge-primary">{{loc_perm.inviter.first_name }} {{loc_perm.inviter.last_name}} </span>
                                        </div>  
                                </div>


                                {% if loc_perm.can_invite %}


                                <div class="row4">
                                    <div class="col-xl-3 col-lg-3">
                                            <b>Invitation Code:  </b>
                                        </div>  

                                        <div class="col-xl-9 col-lg-9">
                                                <div class="row">
                                                <div class="col-xl-6 col-lg-6">
                                                    <span class="badge badge-secondary">      {{loc_perm.invitation_code }} </span>   
                                                </div>  
                                                    <div class="col-xl-5 col-lg-5   ">
                                                            <a class="btn btn-secondary btn-sm" href="{% url 'gen_new_invitation_key' user_id=user.id locperm_id=loc_perm.id %}" role="button">Generate New Code</a>
                                                    </div> 
                                                </div>  
                                    </div>  

                            </div>
                            {%endif %}



                                
                           
                            </div>

                      </div>
                    </div>
                  </div>
                


                {% endfor %}
               
            </div>
        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock %}


{% block moremodals %}

<div class="modal fade" id="inv_code_changed" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Invitation Code Generated</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body"> The new invitation code for user  <span class="badge badge-primary"> {{user.username }} </span> and location <span class="badge badge-primary"> {{change_loc}}  </span> is <span class="badge badge-secondary">  {{change_inv_key}} </span>. Please note that the old invitation key is no longer valid.
            </div>
            <div class="modal-footer">
            
                    <a class="btn btn-primary"   id="inchangechangemodalclose" href="{% url 'manage_user' user_id=user.id %}" role="button">Ok</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="perm_changed_code_changed"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Role Changed</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">You have successfully changed the role of <span class="badge badge-primary"> {{user.username }} </span> for location  <span class="badge badge-primary"> {{change_loc}}  </span> to  <span class="badge badge-primary"> {{change_perm}}</span>.            </div>
            <div class="modal-footer">
    
                    <a id="permchangemodalclose" class="btn btn-primary" href="{% url 'manage_user' user_id=user.id %}" role="button">Ok</a>
            </div>
        </div>
    </div>
</div>



{% endblock %}


{% block js %}

<script>


        {% if inv_code_changed %}
        $('#inv_code_changed').modal('show');

       
$('#inv_code_changed').on('hidden.bs.modal', function () {
            document.getElementById('inchangechangemodalclose').click();})
        
         {% endif %}
         


{% if permission_changed %}
$('#perm_changed_code_changed').modal('show');

$('#perm_changed_code_changed').on('hidden.bs.modal', function () {
            document.getElementById('permchangemodalclose').click();})
 {% endif %}

</script>




{% endblock %}