


{% extends 'registration_base.html' %}
{% load static %}

{% block css_imports %}
<!-- Success Modal Stylesheet File -->
<link  href="{% static 'userhandling/css/loginform.css' %}" rel="stylesheet">
<link  href="{% static 'userhandling/css/val_succ_modal.css' %}" rel="stylesheet">
  {% endblock %}

{% block modals %}
<div id="RegVerifyModall" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box">
          <i class="material-icons">&#xE876;</i>
        </div>
        <h4 class="modal-title">Success!</h4>
      </div>
      <div class="modal-body">
        <p class="text-center">Your password has been changed.</b></p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'login' %}" class="btn btn-success btn-block">Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block tagline %}
<h3>Password reset</h3>
<p>Please enter your new password.</p>
{% endblock %}

{% block heading %}
<h3 class="register-heading">Provide new password.</h3>
{% endblock %}

{% block form %}
<form class="login" method="POST" action="/reset/{{ reset_key }}">

  {% csrf_token %}

{{ form }}

  <div class="modal-footer d-flex justify-content-center">
  <input class="btn btn-deep-orange" type="submit" value="Set new password.">
   <a href="{% url 'index' %}" class="btn btn-deep-orange">Back to home.</a>
</div>
  </form>


{% endblock %}


{% block js %}
{% if successful_submit %}
  <script type="text/javascript">
      $(document).ready(function(){
          $("#RegVerifyModall").modal('show');
      });
  </script>
{% endif %}
{% endblock %}
