{% extends 'registration_base.html' %}
{% load static %}

{% block css_imports %}
<!-- Success Modal Stylesheet File -->
<link  href="{% static 'userhandling/css/loginform.css' %}" rel="stylesheet">
<link  href="{% static 'userhandling/css/val_succ_modal.css' %}" rel="stylesheet">

{% if successful_submit %}
<script type="text/javascript">
    $(window).on('load',function(){
        $('#RegVerifyModall').modal('show');
    });
</script>
{% endif %}

{% endblock %}

{% block modals %}
<div id="RegVerifyModall" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box">
          <i class="material-icons">&#xE876;</i>
        </div>
        <h4 class="modal-title" style="margin:auto; margin-top:3%;">Success!</h4>
      </div>
      <div class="modal-body">
        <p class="text-center">Your password has been changed.</b></p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'login' %}" class="btn btn-success btn-block">Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block header %}

<section id="hero">
        <div class="hero-container"  style="height:80vh" style="margin-top:-1000%">          
          <div class="container register" >
                <div class="row" >
                    <div class="col-md-3 register-left" >
                        <img src={% static 'userhandling/img/logos/logo_cinemaple.png' %} alt="" width = 100%/>
                        <h3>Password reset</h3>
                        <p>Please enter your new password.</p>
                    </div>
                    <div class="col-md-9 register-right">      
                        <div class="tab-content" id="myTabContent">                                
                                {% block heading %}
                                {% endblock %}
                                <div class="row register-form">                                    
                                    <div class="col-md-9">
                              <form class="login" method="POST" action="/reset/{{ reset_key }}">

                                {% csrf_token %}
                                {% if form.errors %}

                                <div class="alert alert-danger" role="alert">
                                  Passwords do not match.
                                </div>
                                {% endif %}


                              <div class="form-group">
                                  <label for="password1" style = "color:white">Password:</label>
                                    {% comment %} {{form.password1.errors}} {% endcomment %}
                                    {{form.password1}}
                              </div>


                              <div class="form-group">
                                  <label for="password2" style = "color:white">Confirm new password:</label>
                                  {% comment %} {{form.password2.errors}} {% endcomment %}
                                    {{form.password2}}
                              </div>

                                <div class="modal-footer d-flex justify-content-center">
                                <input class="btn btn-primary" type="submit" value="Set new password">
                                <a href="{% url 'index' %}" class="btn btn-deep-orange" style = "color:white">Back to home</a>
                              </div>
                                </form>
                                </div>
                        </div>
                    </div>
                </div>

            </div>        
        </div>
      </section><!-- #hero -->

{% endblock %}


{% block js %}

{% endblock %}
