
              
              {% extends 'base.html' %}
              {% load static %}
              
        
              
              
            
              {% block header %}
              <!--==========================
              Header
              ============================-->
              <header id="header-login">
                <div class="container">
                  </div>
              </header><!-- #header -->
              
              <header id="header">
                <div class="container">
              
                  <div id="logo" class="pull-left">
                    <!-- Uncomment below if you prefer to use a text logo -->
                    <!-- <h1><a href="#hero">Cinemaple</a></h1> -->
                    <a href={% url 'index'%}><img   src="{% static 'userhandling/img/logos/logo_cinemaple.png' %}" alt="" title="" height="40" /></img></a>
                  </div>
              
                  <nav id="nav-menu-container">
                    <ul class="nav-menu">
                               
              
                      
              
                    
                    </ul>
                  </nav><!-- #nav-menu-container -->
                </div>
              </header><!-- #header -->
              {% endblock %}
              
              
              {% block main %}

              <div class="container-fluid">

                <!-- Content Row -->
                <div class="row3">
            
                    <!-- Earnings (Monthly) Card Example -->
                    <!-- Area Chart -->
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            
                            <!-- Card Body -->
                            <div class="card-body">
            
                                <div class="row4 justify-content-md-center" >
                                    <div class="col-xl-7 col-lg-7">
            
                            
        

              <h1>Privacy Policy</h1>

              <p>Protecting your private information is our priority. This Statement of Privacy applies to www.cinemaple.com and cinemaple.com and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to cinemaple.com include www.cinemaple.com and Cinemaple. The Cinemaple website is a web application facilitating the hosting of private movie night events. By using the Cinemaple website, you consent to the data practices described in this statement.</p>
              
              <h2>Collection of your Personal Information</h2>
              
              <p>In order to better provide you with products and services offered on our Site, Cinemaple may collect personally identifiable information, such as your:</p>
              
 
              <ul>
                <li>First and Last Name</li>
                <li>E-mail Address</li>
                <li>Username</li>
              </ul>
              
              <p>We do not collect any personal information about you unless you voluntarily provide it to us. However, you may be required to provide certain personal information to us when you elect to use certain products or services available on the Site. These may include: (a) registering for an account on our Site; (b) entering a sweepstakes or contest sponsored by us or one of our partners; (c) signing up for special offers from selected third parties; (d) sending us an email message; (e) submitting your credit card or other payment information when ordering and purchasing products and services on our Site. To wit, we will use your information for, but not limited to, communicating with you in relation to services and/or products you have requested from us. We also may gather additional personal or non-personal information in the future.</p>
              
              <h2>Use of your Personal Information</h2>
              
              <p>Cinemaple collects and uses your personal information to operate its website(s) and deliver the services you have requested.</p>
              
              <p>Cinemaple may also use your personally identifiable information to inform you of other products or services available from Cinemaple and its affiliates.</p>
              
              <h2>Sharing Information with Third Parties</h2>
              
              <p>Cinemaple does not sell, rent or lease its customer lists to third parties.</p>
              
              <p>Cinemaple may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to Cinemaple, and they are required to maintain the confidentiality of your information.</p>
              
              <p>Cinemaple may disclose your personal information, without notice, if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on Cinemaple or the site; (b) protect and defend the rights or property of Cinemaple; and/or (c) act under exigent circumstances to protect the personal safety of users of Cinemaple, or the public.</p>
              
              <h2>Tracking User Behavior</h2>
              
              <p>Cinemaple may keep track of the websites and pages our users visit within Cinemaple, in order to determine what Cinemaple services are the most popular. This data is used to deliver customized content and advertising within Cinemaple to customers whose behavior indicates that they are interested in a particular subject area.</p>
              
              <h2>Automatically Collected Information</h2>
              
              <p>Information about your computer hardware and software may be automatically collected by Cinemaple. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the Cinemaple website.</p>
              
              <h2>Use of Cookies</h2>
              
              <p>The Cinemaple website may use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.</p>
              
              <p>One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize Cinemaple pages, or register with Cinemaple site or services, a cookie helps Cinemaple to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same Cinemaple website, the information you previously provided can be retrieved, so you can easily use the Cinemaple features that you customized.</p>
              
              <p>You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the Cinemaple services or websites you visit.</p>
              
              <h2>Links</h2>
              
              <p>This website contains links to other sites. Please be aware that we are not responsible for the content or privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of any other site that collects personally identifiable information.</p>
              
              <h2>Security of your Personal Information</h2>
              
              <p>Cinemaple secures your personal information from unauthorized access, use, or disclosure. Cinemaple uses the following methods for this purpose:</p>
              
          
              <ul>
                <li>SSL Protocol</li>
              </ul>
              
          
              <p>When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol.</p>
              
              <p>We strive to take appropriate security measures to protect against unauthorized access to or alteration of your personal information. Unfortunately, no data transmission over the Internet or any wireless network can be guaranteed to be 100% secure. As a result, while we strive to protect your personal information, you acknowledge that: (a) there are security and privacy limitations inherent to the Internet which are beyond our control; and (b) security, integrity, and privacy of any and all information and data exchanged between you and us through this Site cannot be guaranteed.</p>
              
              <h2>Children Under Thirteen</h2>
              
              <p>Cinemaple does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website.</p>
              
              <h2>E-mail Communications</h2>
              
              <p>From time to time, Cinemaple may contact you via email for the purpose of providing announcements, promotional offers, alerts, confirmations, surveys, and/or other general communication. In order to improve our Services, we may receive a notification when you open an email from Cinemaple or click on a link therein.</p>
              
              <p>If you would like to stop receiving marketing or promotional communications via email from Cinemaple, you may opt out of such communications by clicking on the UNSUBSCRIBE button.</p>
              
              <h2>External Data Storage Site</h2>
              
              <p>We may store your data on servers provided by third party hosting vendors with whom we have contracted.</p>
              
              <h2>Changes to this Statement</h2>
              
              <p>Cinemaple reserves the right to change this Privacy Policy from time to time. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address specified in your account, by placing a prominent notice on our site, and/or by updating any privacy information on this page. Your continued use of the Site and/or Services available through this Site after such modifications will constitute your: (a) acknowledgment of the modified Privacy Policy; and (b) agreement to abide and be bound by that Policy.</p>
              
              <h2>Contact Information</h2>
              
              <p>Cinemaple welcomes your questions or comments regarding this Statement of Privacy. If you believe that Cinemaple has not adhered to this Statement, please contact Cinemaple at:</p>
              
              <p>cinemaple.com</p>
              
              <p>57 Maple Avenue</p>
              
              <p>Cambridge, Massachusetts 02139</p>
              
              <p>Email Address:</p>
              
              <p>&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#099;&#105;&#110;&#101;&#109;&#097;&#112;&#108;&#101;&#046;&#099;&#111;&#109;</p>
              
              <hr />
              
              <p>Effective as of November 03, 2019</p>
            
            
            
                                    </div>
            
                                </div>
            
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            
              {% endblock %}
              
              
              
              
              {% block js %}
              
              {% endblock %}
              
              
              
              {% block footer %}
     
<footer id="footer">
  <div class="footer-top">
    <div class="container">

    </div>
  </div>

  <div class="container">
    <div class="copyright">
    </div>
    <div class="credits">


      <div class="social-links">
          <p style = "color:#ffffff"><b>Cinemaple</b> is fully open source (Apache License 2.0.) and available on GitHub: <a href="https://github.com/cknaut/cinemaple" class="github"><img src="{% static 'userhandling/img/giticon.png' %}" alt="" title="" height="30" style = "margin-left:0%"/></a></p>
          <p style = "color:#ffffff"><b>Cinemaple</b> is powered by <a href = "https://www.themoviedb.org/?language=en-US" target="_blank" style = "color:#af353b">TMDB</a> and <a href = "https://bootstrapmade.com/regna-bootstrap-onepage-template/" target = "_blank" style = "color:#af353b">REGNA</a></p>
          <a href="{% url 'priv_pol' %}" target="_blank" style = "color:#af353b">Privacy Policy</a>
      </div>        

    </div>
  </div>
</footer><!-- #footer -->
              {% endblock %}
              