
{% extends 'userhandling/registration_base.html' %}
{% load static %}

{% block css_imports %}
<!-- Success Modal Stylesheet File -->
<link  href="{% static 'userhandling/css/reg_succ_modal.css' %}" rel="stylesheet">
<link  href="{% static 'userhandling/css/loginform.css' %}" rel="stylesheet">
  {% endblock %}

{% block modals %}
<div id="RegSubmissionModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box">
          <i class="material-icons">email</i>
        </div>
        <h4 class="modal-title">Check your emails!</h4>
      </div>
      <div class="modal-body">
        <p class="text-center">An activation link has been sent to {{ subscribe_email }}.</p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'index' %}" class="btn btn-success btn-block">Back to home.</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block tagline %}
<h3>Welcome</h3>
<p>Please register to recieve invitations for upcoming movie nights!</p>
{% endblock %}

{% block heading %}
<h3 class="register-heading">Register</h3>
{% endblock %}

{% block form %}
<form action="/registration/" method="post">
{% csrf_token %}
{{ form }}
<div class="modal-footer d-flex justify-content-center">
  <input class="btn btn-deep-orange" type="submit" value="Register">
   <a href="{% url 'index' %}" class="btn btn-deep-orange">Back to home.</a>
</div>
</form>
Already registered? <a href="{% url 'login' %}" class="btn btn-deep-orange">Login here!</a>
{% endblock %}


{% block js %}
{% if successful_submit %}
  <script type="text/javascript">
      $(document).ready(function(){
          $("#RegSubmissionModal").modal('show');
      });
  </script>
{% endif %}
{% endblock %}

