
{% extends 'registration_base.html' %}
{% load static %}

{% block css_imports %}
<!-- Success Modal Stylesheet File -->
<link  href="{% static 'userhandling/css/reg_succ_modal.css' %}" rel="stylesheet">
<link  href="{% static 'userhandling/css/loginform.css' %}" rel="stylesheet">

{% if successful_submit %}
<script type="text/javascript">
    $(window).on('load',function(){
        $('#RegSubmissionModal').modal('show');
    });
</script>
{% endif %}






  {% endblock %}

{% block modals %}
<div id="RegSubmissionModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box">
          <i class="material-icons">email</i>
        </div>
        <h4 class="modal-title"><font color = "black">Check your emails!</font></h4>
      </div>
      <div class="modal-body">
        <p class="text-center"><font color = "black">An activation link has been sent to {{ subscribe_email }}.</font></p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'index' %}" class="btn btn-success btn-block">Back to home <i class="em em-arrow_lower_right" aria-role="presentation" aria-label="SOUTH EAST ARROW"></i> <i class="em em-house" aria-label="HOUSE BUILDING"></i> </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block header %}

<section id="hero">
        <div class="hero-container">          
          <div class="container register" style = "margin-top:0">
                <div class="row" style="margin-top:-20%">
                    <div class="col-md-3 register-left" style="margin-top:15%">
                        <img src={% static 'userhandling/img/logos/logo_cinemaple.png' %} alt="" width = 100%/>
                        <h3>Welcome</h3>
                        <p>Please register to receive invitations for upcoming movie nights!</p>
                    </div>
                    <div class="col-md-9 register-right">      
                        <div class="tab-content" id="myTabContent">                                
                                {% block heading %}
                                {% endblock %}
                                <div class="row register-form">                                    
                                    <div class="col-md-9">
                                    <form action="/registration/" method="post">
{% csrf_token %}
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"><font color="white">Username:</font></label>
                                          {{form.username.errors}}
                                          {{form.username}}
                                    </div>


                                    <div class="form-group">
                                        <label for="exampleInputEmail1"><font color="white">Email:</font></label>
                                        {{form.email.errors}}
                                          {{form.email}}
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1"><font color="white">First name:</font></label>
                                        {{form.first_name.errors}}
                                          {{form.first_name}}
                                    </div>


                                    <div class="form-group">
                                        <label for="exampleInputEmail1"><font color="white">Last name:</font></label>
                                        {{form.last_name.errors}}
                                          {{form.last_name}}
                                    </div>


                                    <div class="form-group">
                                        <label for="exampleInputEmail1"><font color="white">Password:</font></label>
                                        {{form.password1.errors}}
                                          {{form.password1}}
                                    </div>


                                    <div class="form-group">
                                        <label for="exampleInputEmail1"><font color="white">Repeat password:</font></label>
                                        {{form.password2.errors}}
                                          {{form.password2}}
                                    </div>


                                    <div class="form-group">
                                        <label for="exampleInputEmail1"><font color="white">Captcha:</font></label>
                                        {{form.captcha.errors}}
                                          {{form.captcha}}
                                    </div>
                                  
                                    <div class="form-group">
                                    {{ form.i_agree }}                                        
                                    <label for="exampleInputEmail1"><font color="white">I have read and agreed to Cinemaple's                                              
                                        <a href="{% url 'priv_pol' %}" target="_blank" >Privacy Policy</a>  </div>
                                    <div>

                                    <div class="modal-footer d-flex justify-content-center">
                                      <input class="btn btn-primary" type="submit" value="Register">
                                      <a href="{% url 'index' %}" class="btn btn-deep-orange" style = "color:white">Back to home </a>
                                    </div>
                                    </form>
                                </div>
                        </div>
                    </div>
                </div>

            </div>        
        </div>
      </section><!-- #hero -->

{% endblock %}


{% block js %}

{% endblock %}