


{% extends 'registration_base.html' %}
{% load static %}

{% block css_imports %}
<!-- Success Modal Stylesheet File -->
<link  href="{% static 'userhandling/css/loginform.css' %}" rel="stylesheet">
  {% endblock %}

{% block tagline %}
<h3>Password reset</h3>
<p>Please enter your email to recieve instructions on how to reset your password.</p>
{% endblock %}

{% block heading %}
<h3 class="register-heading">Provide Email.</h3>
{% endblock %}

{% block form %}
<form class="login" method="POST" action="/login/">

  {% csrf_token %}

{{ form.as_p }}

  <div class="modal-footer d-flex justify-content-center">
  <input class="btn btn-deep-orange" type="submit" value="Send me instructions!">
   <a href="{% url 'index' %}" class="btn btn-deep-orange">Back to home.</a>
</div>
  </form>


{% endblock %}
