


{% extends 'registration_base.html' %}
{% load static %}

{% block css_imports %}
<!-- Success Modal Stylesheet File -->
<link  href="{% static 'userhandling/css/loginform.css' %}" rel="stylesheet">
  {% endblock %}

{% block tagline %}
<h3>Email Sent.</h3>
<p>Please enter your email to recieve instructions on how to reset your password.</p>
{% endblock %}

{% block heading %}
<h3 class="register-heading">Check your inbox.</h3>
{% endblock %}

{% block form %}
We've emailed you instructions for setting your password. You should receive the email shortly!


{% endblock %}
